<style>
	.maxWidthContainer {
		width: clamp(16rem, 90vw, 90rem);
		font-family: 'Neutro', 'Frank Ruhl Libre';
		color: #30344F;
	}

	#sidebar,
	.navbar {
		display: none !important;
	}

	#wrapperElement {
		width: 100%;
		aspect-ratio: 1/1;
		position: relative;

		background-image: url("/assets/images/sefira/combo.png");
		background-size: cover;
		background-position: bottom;
	}

	#mainTitle {
		margin-top: -.25rem;
		background: radial-gradient(circle, rgba(210, 156, 56, 1) 0%, rgba(152, 100, 27, 1) 100%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		z-index: 3;
		filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 1));

		line-height: 1;
		text-align: center;
		font-size: 13.5rem;
		font-weight: 900;
		margin-bottom: 0rem;
	}

	#dayPointer {
		width: 42rem;
		height: 3.75rem;
		border-radius: 1rem;
		color: #976520;
		display: flex;
		padding: .5rem 2rem;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		font-size: 1.75em;
		background: #FFFFFFAA;
		margin-bottom: 1rem;
	}

	#dayPointer b {
		color: black;
		text-transform: uppercase;
	}

	#hayom {
		font-family: "Guttman Mantova";
		color: black;
		text-align: center;
		font-size: 3em;
		line-height: 1.25;
		unicode-bidi: plaintext;
	}

	#bsD {
		font-family: "Frank Ruhl Libre";
		font-size: 2.5em;
		line-height: 1;
		font-weight: 700;
		color: rgb(210, 156, 56);

		position: absolute;
		right: .125em;
	}

	#content {
		margin-left: 4rem;
		margin-right: 3rem;
		margin-top: 2rem;
		display: flex;

		justify-items: center;
		gap: 1.5rem;
	}

	.notebook {
		display: flex;
		flex-direction: column;
		position: relative;
		background-color: #946947;
		background: linear-gradient(175deg, rgba(235, 214, 149, 1), rgba(197, 172, 90, 1));
		aspect-ratio: 1 / 1.3;
		border-top: 1px solid #946947;
		width: 700px;
		min-width: 700px;
		padding: 1rem;
		perspective-origin: center;
		transform: perspective(600px) rotateY(4.5deg);
		box-shadow: 
			-0.2vmin 0.1vmin #222,
			-0.4vmin 0.2vmin #222,
			-0.6vmin 0.3vmin #222,
			-0.8vmin 0.4vmin #222,
			-1.0vmin 0.5vmin #222,
			-1.2vmin 0.6vmin #222,
			-1.4vmin 0.7vmin #222,
			-1.6vmin 0.8vmin #222;
		filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 1));
		color: black;

		text-align: center;
		justify-content: space-between;
	}

	.notebook:after {
		position: absolute;
		content: '';
		bottom: -1px;
		left: 0px;
		height: 4px;
		width: 100%;
		background-size: 3px 1px;
		background-image: -webkit-radial-gradient(40% 100%, circle, transparent 20%, gray 35%);
		background-image: -moz-radial-gradient(40% 100%, circle, transparent 20%, gray 35%);
		background-image: -ms-radial-gradient(40% 100%, circle, transparent 20%, gray 35%);
		background-image: -o-radial-gradient(40% 100%, circle, transparent 20%, gray 35%);
		background-image: radial-gradient(40% 100%, circle, transparent 20%, gray 35%);
	}

	.notebook:before {
		position: absolute;
		content: '';
		top: -12px;
		left: 0;
		height: 20px;
		width: 99%;
		background-size: 18px 24px;
		background-image: -webkit-radial-gradient(5% 40%, circle, transparent 70%, #555 20%);
		background-image: -moz-radial-gradient(5% 40%, circle, transparent 70%, #555 20%);
		background-image: -ms-radial-gradient(5% 40%, circle, transparent 70%, #555 20%);
		background-image: -o-radial-gradient(5% 40%, circle, transparent 70%, #555 20%);
		background-image: radial-gradient(circle at 5% 40%, transparent 65%, #555 65%, #555 75%, transparent 71%)
	}

	.notebook > * {
		max-width: 100%;
	}

	#gridElement {
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;
		height: min-content;
		margin-top: 2rem;
	}

	#announcement {
		font-family: "Cinzel";
		font-weight: 800;
		color: white;
		text-decoration: underline;
		margin-bottom: 3rem;

		grid-column-end: span 2;
		font-size: 2.65rem;
	}

	.locationHolder {
		font-family: "Cinzel";
		color: white;
		font-size: 2.25rem;
		font-weight: 600;
	}

	.timeResult {
		font-size: 5rem;
		font-family: "Cinzel Decorative";
		color: white;
		font-weight: 800;
	}

	.timecalc {
		line-height: 1;
	}

	.closing {
		font-family: "Cinzel";
		grid-column-end: span 2;
		margin-top: 3rem;
		color: white;
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.4;
	}

	.halachot {
		color: white;
		background: #000000DD;
		padding: 1rem;
		margin-top: 3rem;
		grid-column-end: span 2;
		border-radius: 1rem;
		font-size: 1.15rem;
	}

	.halachot ol {
		text-align: left;
		line-height: 1.5;
		margin-bottom: 0;
	}

	#footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: linear-gradient(to right, black, #00000066 85%, transparent 100%);
		color: white;
		font-size: 2rem;
	}

	#subTitle {
		font-family: "Cinzel";
		font-size: 2.5rem;
		line-height: 1;
		font-weight: 700;
		color: rgb(210, 156, 56);
		text-align: center;
		margin-bottom: 3.5rem;
		filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 1));
	}

	#englishRep {
		font-size: 1.75rem;
		font-weight: 700;
	}
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Rubik+Gemstones&display=swap"
	rel="stylesheet">
<link href="/assets/fonts/subtitle/stylesheet.css" rel="stylesheet">

<div id="wrapperElement">
	<div id="bsD">בס"ד</div>
	<h1 id="mainTitle" class="sefiraTitle">ספירת העומר</h1>
	<h3 id="subTitle"><span style="unicode-bidi: isolate;" data-zfDateRender="en">Night of </span> • <span style="unicode-bidi: isolate; font-size: 1.25em;" data-zfDateRender="hb">ליל של </span></h3>
	<div id="content">
		<div class="notebook">
			<div style="font-size: 2.25rem; font-weight: 600;">
				Stand for the counting of the Omer:
				<img src="/assets/images/sefira/print-bracha.png" style="width: 100%;" />
			</div>
			<div>
				Count in the language you will understand:
				<div id="englishRep" data-omer-count="en"><span data-zfReplace="completeCount"></span> day of the Omer • <span data-zfReplace="indCount"></span></div>
				<div id="hayom" data-omer-count="hb">הַיּוֹם <span data-zfReplace="completeCount"></span> לָעֹמֶר,<br>שֶׁהֵם <span data-zfReplace="indCount"></span></div>
			</div>
			<div>
				<img src="/assets/images/sefira/harahaman.png" style="width: 100%;" />
				<div style="display: flex; gap: 1rem; justify-content: center;" dir="rtl">
					<div><img src="/assets/images/sefira/menorah-print.svg" style="width: 10rem; filter: brightness(0);"></div>
					<div style="font-size: 1.5rem; font-family: 'Guttman Vilna'; text-align: start;">אָֽנָּֽא בְּכֹֽחַ. גְּדוּלַת יְמִינֶֽךָ. תַּתִּיר צְרוּרָה:<br>
						קַבֵּל רִנַּת. עַמֶּֽךָ שַׂגְּבֵֽנוּ. טַהֲרֵֽנוּ נוֹרָא:<br>
						נָא גִבּוֹר. דּֽוֹרְשֵֽׁי יִחוּדֶֽךָ. כְּבָבַת שָׁמְרֵם:<br>
						בָּֽרְכֵֽם טַהֲרֵם. רַחֲמֵי צִדְקָתֶֽךָ. תָּמִיד גָּמְלֵם:<br>
						חֲסִין קָדוֹשׁ. בְּרֹב טֽוּבְךָֽ. נַהֵל עֲדָתֶֽךָ:<br>
						יָחִיד גֵּאֶה. לְעַמְּךָ פְנֵה. זֽוֹכְרֵֽי קְדֻשָּׁתֶֽךָ:<br>
						שַׁוְעָתֵֽנוּ קַבֵּל. וּשְׁמַע צַעֲקָתֵֽנוּ. יוֹדֵֽעַ תַּעֲלוּמוֹת:<br>
						בָּרוּךְ שֵׁם כְּבוֹד מַלְכוּתוֹ לְעוֹלָם וָעֶד:
						</div>
				</div>
			</div>
		</div>
		<div id="gridElement">
			<h1 id="announcement">Preferred Time To Count</h1>
			<div class="timecalc"
                {% if include.location.elevation %}data-elevation="{{ include.location.elevation }}"{% endif %}
                data-lat="{{ include.location.lat }}" data-lng="{{ include.location.lng }}"
                data-timezone="{{ include.location.timezone }}"
                data-format="{{ include.location.timeFormat }}"
                {% if include.location.humra %}data-humra="{{ include.location.humra }}"{% endif %}
				style="grid-column-end: span 2;">
				<div class="locationHolder">{{ include.location.name }}</div>
				<div class="timeResult"></div>
			</div>
			<div class="halachot">
				<h3>Halachic time-rulings</h3>
				<h6>Source: Yalkut Yosef vol. 22 page 85 onwards - 5779 edition | Hazon Ovadia Yom Tov, page 232 onwards</h6>
				<ol>
					<li>It is preferable to count each of the Omer days at Nightfall (which happens at 13.5 minutes after sunset, lengthened through latitude and season/length-of-the-day), allowing the entire count to be holistic (completed nights).<br>Nevertheless, although intentional delays (such as stringent Nightfall calculations) are discouraged, one who missed that day should still count whenever possible (as long as it's still within that day - see #3).</li>
					<li>Recounting during the day is customary in case the night count was missed. Nevertheless, the blessing for that day is not recited after Dawn (even in an uncertain Dawn).</li>
					<li>The interval between sunset and Nightfall may be used leniently for either the prior (for those who forgot) or subsequent day, provided it is not simultaneously assigned to both.<br>Therefore, a minyan praying ערבית <i>after sunset</i> should count the omer even before Nightfall, as the congregants may neglect to count otherwise.</li>
					<li>If one entirely misses a day’s count (from its Nightfall until the next day's Nightfall), they should appoint someone to recite future blessings on their behalf.</li>
				</ol>
			</div>
		</div>
	</div>
	<div id="footer">
		<img src="/assets/images/right-wave-for-icon.png" style="width:80px;">
		Get these "Nightfall" times for any location, only on our apps for iOS and Android
	</div>
</div>

<script type="module" src="/assets/js/flyers/omer.js"></script>