---
title: Fast Central Coast Times
permalink: /nine-av/central
breakout: true
website: true
---

<style>
    .maxWidthContainer {
        width: clamp(16rem, 90vw, 90rem);
        font-family: 'Neutro';
        color: #30344F;
    }

    #sidebar, .navbar {
        display: none !important;
    }

    #wrapperElement {
        width: 100%;
        aspect-ratio: 1/1;

        position: relative;
        display: grid;

        background-image: linear-gradient(45deg, rgba(97, 80, 64, .8) 0%, rgba(185, 181, 157, .8) 100%), url("/assets/images/10-tevet.png");
        background-size: cover;
    }

    #wrapperElement > *:not(.absRotateText):not(#shabbatCandles) {
        grid-area: 1/1;
    }

    #imgFooter {
        justify-self: end;
        align-self: end;
        text-transform: uppercase;
        text-align: right;
        font-weight: 600;
        font-size: 1.625em;
        line-height: 1.2;
        padding-bottom: 1rem;
        padding-right: 1rem;
        z-index: 3;
    }

    .footerBold {
        font-weight: 700;
    }

    .absRotateText {
        position: absolute;
        transform: rotateZ(3.5deg);
        text-align: center;
        font-family: 'Guttman Mantova';
        line-height: 1;
    }

    #wrapperElement #subtitle {
        top: 9.35vw;
        right: 3.5vw;
        font-size: 2.5em;
        font-family: 'Neutro', 'FrankRuehl', serif;
        font-weight: 500;
        width: 965px;
        color: #343434;
        filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, .5));
    }

    #maran {
        grid-area: 1/1;
        align-self: end;
        width: 25%;
        z-index: 3;
    }

    #zemanehShab {
        font-family: 'Frank Ruhl Libre';
        right: 2.9vw;
        font-size: 7vw;
        font-weight: 900;
        top: 2.75vw;
        color: #343434;

        filter: drop-shadow(0px 5px 4px rgba(0,0,0,.5));
    }

    #gridElement {
        position: absolute;
        grid-template-columns: 1fr .8fr .8fr;
        left: 1vw;
        top: 14.5vw;
        display: grid;
    }

    #shabbatCandles {
        position: absolute;
        align-self: end;
        width: 80%;
        right:0;
        bottom: 5vw;
        z-index: 1;
        opacity: 50%;
    }

    #bottomWave {
        align-self: end;
        width: 100%;
        z-index: 2;
    }

    .timeshow {
        text-align: center;
        z-index: 5;
    }

    .shabbatRow {
        margin-top: .3vw;
        margin-bottom: .3vw;
        padding-top: .25vw;
        padding-bottom: .25vw;
        font-size: 2.25vw;
        font-weight: 600;
    }

    .timecalc {
        background-color: #e2dfc6;
        font-weight: 700;
        padding-left: 0.5vw;
        padding-right: 1vw;
        text-transform: uppercase;
        border-right: .25vw solid black;
    }

    .shabbatRowBg {
        background: linear-gradient(90deg, #c0a26b 0%, #d2b988 100%);
        grid-column: 2 / span 2; 
        margin-top: .3vw;
        margin-bottom: .3vw;
        z-index: 2;
    }

    .header {
        padding: 0.5vw;
        background: #D9BB65;
        margin-left: .6vw;
        margin-right: .6vw;
        color: black;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.2;
        font-weight: 600;
        font-size: 19px;
    }

    .tableShadow {
        box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.25);
    }

    .shabBorder {
        border-right: .125vw solid black;
    }

    .twoLine {
        line-height: .4;
        padding-top: 1vw;
    }

    .sml {
        font-size: 14px;
    }

    #internalLogo {
        vertical-align: text-top;
        height: 1.1em;
        filter: drop-shadow(0px 5px 4px rgba(0,0,0,.5));
    }

    #fastHalachas {
        position: absolute;
        right: 1vw;
        top: 57.5vw;
        width: 1000px;
        background-color: rgba(0, 0, 0, .75);
        padding: 1rem;
        border-radius: 2rem;
        color: white;
    }

    #fastHalachas p {
        font-size: 1.15em;
    }

    #fastHalachas > p:last-child {
        margin-bottom: 0;
    }

    #money {
        color: #e2dfc6;
        width: 375px;
        position: absolute;
        right: 1vw;
        top: 14.5vw;
        filter: drop-shadow(0px 5px 4px rgba(0,0,0,.5));
    }

    #betterToGiveTzedakah {
        color: #e2dfc6;
        width: 375px;
        position: absolute;
        right: 1vw;
        top: 36.5vw;
        filter: drop-shadow(0px 5px 4px rgba(0,0,0,.5));
        text-align: center;
        font-size: 2.5em;
        font-family: 'Guttman Mantova';
        unicode-bidi: plaintext;
        line-height: 1;
    }
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="/assets/fonts/subtitle/stylesheet.css" rel="stylesheet">

<div id="wrapperElement">
    <img src="/assets/images/shabbat-abstract/bottom-wave.png" id="bottomWave" />
    <div id="gridElement"
        data-functions-backday-1="getShkiya"
        data-functions-backday-0="getTzetHumra"
        data-extra-locales="en"
        data-flyerType="fast"
    >
        <div style="align-self: end; justify-self: center; color: white; font-size: 1.5vw;">Central North-America Locations</div>
        <div class="header tableShadow">Fast Starts<br><span style="font-weight: 400;">(Sunset, prev. day)</span></div>
        <div class="header tableShadow">Fast Ends<br><span style="font-weight: 400;">(Halachic Nightfall)</span></div>
        {% for item in site.data.designLocationList.central %}{% assign gridRow = forloop.index | plus: 1 %}
            <div class="shabbatRow tableShadow timecalc {% if item.twoLine %}twoLine{% endif %}"
                {% if item.elevation %}data-elevation="{{ item.elevation }}"{% endif %}
                data-lat="{{ item.lat }}" data-lng="{{ item.lng }}"
                data-timezone="{{ item.timezone }}"
                data-format="{{ item.timeFormat }}"
                {% if item.humra %}data-humra="{{ item.humra }}"{% endif %}
                {% if item.doubleLocation %}data-double-location{% endif %}
                style="grid-column: 1; grid-row: {{ gridRow }};">
                {%- assign check = item.flag | split:'.' | last -%}
                {% if check == "svg" %}
                    <img class="imgFlag" src="{{ item.flag }}">
                {% else %}
                    {{ item.flag }}
                {% endif %}
                {{ item.name }}
            </div>
            <div class="shabbatRow timeshow shabBorder" style="grid-column: 2; grid-row: {{ gridRow }};">Start Time</div>
            <div class="shabbatRow timeshow shabBorder" style="grid-column: 3; grid-row: {{ gridRow }};">End Time</div>
            <div class="shabbatRowBg tableShadow" style="grid-row: {{ gridRow }};"></div>
        {% endfor %}
    </div>
    <div id="fastHalachas">
        <h1 style="text-align: center;">Calculation Explanation</h1>
        <p>Our fast starts at <b>Sunset</b> of the previous day, which is defined with the complete setting of the sphere in the west (Halacha Berurah, intro. to Chapter 261 Halacha 21). One should refrain from eating a minute or two prior as precautionary steps (Ḥazon Ovadia, Arba Ta'aniyot, pg. 275-278; unlike Yom Kippur, this is not a commandment)</p>
        <p>Fasts end at <b>Halachic Nightfall</b>, which we measure as 20 seasonal minutes after sunset (Ḥazon Ovadia, Arba Ta'aniyot, pg. 12), adjusted for latitudinal deviation (Halacha Berurah, intro. to Chapter 261, Halacha 13). Since this time is already a stringency (the letter of the law dictates one only needs to wait 13.5 [adjusted-]seasonal minutes, Yabia Omer Y"D 7:41), one need not layer any more stringency, for any of the fasts (with the exception of Yom Kippur), even in the USA.</p>
    </div>
    <div id="betterToGiveTzedakah">אגרא דתעניתא צדקתא<br>(ברכות ו:)</div>
    <img src="/assets/images/shabbat-abstract/money-svgrepo-com.svg" id="money" />
    <span id="zemanehShab" class="shabbatTitleCore absRotateText"></span>
    <span id="subtitle" class="absRotateText"><span data-dateRender-backday="1"></span> - <span data-dateRender-backday="0"></span>, <span data-yearRender="iso8601"></span></span>
    <div id="imgFooter">
        Halachic Fast Times according to Rabbi Ovadia Yosef ZT"L.<br>
        Brought to you by <img src="/assets/images/shabbat-abstract/zy-logo.png" id="internalLogo">,
        available on <span style="text-transform: lowercase;">i</span>OS & Android • royzmanim.com
    </div>
    <img src="/assets/images/MARAN.png" id="maran">
</div>

<script type="module" src="/assets/js/flyers/multiZman.js"></script>