---
title: Ish Matzliach, BK
permalink: /shul-wall/ish-matzliach-bk-small
layout: nothing
---

<link id="bs" href="/assets/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
<link href="/assets/fonts/external-message/stylesheet.css" rel="stylesheet" />
<link href="/assets/fonts/ish-matzliach-font/stylesheet.css" rel="stylesheet" />

<link href="/assets/css/shul-wall/marquee.css" rel="stylesheet" />
<link href="/assets/css/shul-wall/clock.css" rel="stylesheet">

<style>
	#content {
		width: 100%;
		height: 100dvh;
		display: grid;
		background-image: url("/assets/images/shul-wall/ish-matzliach/bg.png");
		background-size: cover;
        color: black;
        font-family: 'TT Commons Pro', var(--bs-body-font-family);
		font-weight: 600;
	}

	#content > * {
		grid-area: 1 / 1;
	}

	#zyTrapezoid {
        justify-self: center;
        align-self: start;
        width: 65%;
        filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
    }

	#background {
		--margin: 1.25vw;
		margin: var(--margin);
		height: calc(100vh - var(--margin) - var(--margin) - var(--margin));
		width: calc(100% - var(--margin) - var(--margin));
        background: white;
	}

	#clock {
		font-size: 4em;
		font-family: "dharma_gothic_e";
		font-weight: 400;
	}

	#topBar {
		text-align: center;
		display: flex;
		justify-content: space-evenly;
		width: 72.5%;
		justify-self: center;
		align-self: start;
		color: #30344F;
		z-index: 3;
		line-height: 1;
		padding-top: .25rem;
        padding-left: 1.5rem;
        padding-bottom: .25rem;
		align-items: center;
		font-size: 1.05rem;
        background: white;

        border-bottom-left-radius: 3.5rem;
		border-bottom-right-radius: 3.5rem;
        border: 1px solid #d8a736;
        border-top: none;
	}

	#topBar > * {
		flex: 1 1;
	}

	#topBar svg {
		height: 1em;
		width: 1em;
		vertical-align: bottom;
	}

	#topBar svg path {
		fill: #30344F;
	}

	#quickTimes {
		display: grid; justify-content: center;
	}

	#quickTimes i {
		width: 1em;
		text-align: center;
	}

	#bsD {
        font-family: "Narkisim";
		justify-self: end;
		line-height: 1;
		padding-right: 2rem;
		color: #d8a736;
		font-size: 2.5rem;
		padding-top: 1.5rem;
		align-self: start;
		z-index: 3;
    }

	#dataGrid {
		width: calc(100% - 4vw);
		height: calc(100dvh - 3.25vw - 13dvh); /* bottom-height - top-height */
		margin-left: 2vw;
		margin-top: 13dvh;
		z-index: 5;
		display: grid;
		grid-template-columns: 1.5fr 1fr 1.5fr;
		grid-template-rows: 1fr auto;
		align-items: center;
		gap: 12px;
		font-size: .8rem;
	}

	#dataGrid .h1,
	#dataGrid h1 {
		font-size: 1.25rem;
	}

	#gne {
		height: 11.5dvh;
		justify-self: start;
		align-self: start;
		margin-top: 1.75rem;
		margin-left: 1.75rem;
		z-index: 3;
    }

	.wideView {
		display: flex;
		text-align: center;
		align-self: end;
		grid-column: 1 / span 3;
		font-size: .9em;
	}

	#content[data-current-page="1"] .langTV.lang-en,
	#content[data-current-page="3"] .langTV.lang-en {
		display: none;
	}

	#content[data-current-page="2"] .langTV.lang-hb,
	#content[data-current-page="4"] .langTV.lang-hb {
		display: none;
	}

	.wideView > * {
		flex: 1 1;
		padding: 8px;
	}

	.wideView > *:first-child {
		padding-left: 0;
	}

	.wideView > *:last-child {
		padding-right: 0;
	}

	.wideView > *:not(:last-child) {
		border-right:1px solid black;
	}

	article > .langTV {
		height: calc(100% - 1em - 8px);
		font-weight: bold;
	}

	#poweredBy {
		justify-self: center;
		align-self: end;
		margin-bottom: .75vw;
		text-align: center;
		line-height: 1.2;
		font-size: .6rem;
        font-weight: bold;
	}

    #dataGrid .card, #dataGrid .list-group-item {
        border: none;
    }

	#dataGrid .list-group-item {
		--bs-list-group-item-padding-y: .25rem;
		--bs-list-group-border-color: white;
        --bs-list-group-bg: white;
        --bs-list-group-color: black;
		--bs-list-group-item-padding-x: 1.25rem;
	}

	.timeDisplayWide.nextDay::before {
		content: "(Tomorrow)";
		font-size: .75em;
		margin-bottom: -5px;
		display: block;
    }

    #location {
        align-self: start;
        justify-self: center;
        padding-top: 10.5dvh;
        text-align: center;
        line-height: 1;
        color: #d8a736;
        font-weight: 500;
		font-size: 1.2rem;
    }

	.carousel-item > img {
		height: 65vh;
		object-fit: contain;
	}
</style>

<div id="content" data-current-page="1" data-page-count="4"  data-swap-time="8000">
	<div id="bsD">בס“ד</div>
	<img id="gne" src="/assets/images/shul-wall/ish-matzliach/logo.png" />
	<div id="background"></div>
    <div id="shulBar"></div>
	<div id="poweredBy">
		Donated by Binyamin Kalimi ברכה והצלחה | Powered using זמני יוסף, developed by Maor Na'im. All Halachic times based on Maran Ovadia Yosef zt"l
	</div>
	<div id="topBar">
		<div>
			<span data-en-date></span>
			<hr style="margin: .25rem 0">
			<span data-hb-date></span>
		</div>
		<div id="clock"><span data-sw-hour></span><span class="blink">:</span><span data-sw-minute></span> <span data-sw-portion></span></div>
		<div id="quickTimes">
			<div style="text-align: left; width: fit-content">
				<div style="text-align: center; font-weight: bold; font-size: 1.15em;" data-parasha></div>
				<div data-lightingCandles><i class="bi bi-fire"></i> </div>
				<div data-tzetShab data-rt-text='R"T'><svg viewBox="0 0 100 100"><use href="/assets/images/havdalah.svg#Layer_1"/></svg> </div>
			</div>
		</div>
	</div>
	<div id="dataGrid">
		<div style="line-height: 1.3;">
			<dl class="list-group list-group-flush lh-sm" data-zfFind="DafYomi">
				<div class="list-group-item d-flex justify-content-between">
					<dt class="langTV lang-hb">תלמוד בבלי</dt>
					<dt class="langTV lang-en">Talmud Bavli</dt>
					<dd class="m-0" data-zfReplace="dafBavli"></dd>
				</div>
			</dl>
			<h1 class="text-center mb-0 pt-3" style="font-size: 1.75rem;">Weekday Schedule</h1>
			<div class="card" style="font-size: 1.02rem;">
				<ul class="list-group list-group-flush" id="weekday">
				</ul>
			</div>
			<h1 class="text-center mb-0 pt-3">Hiloulot of...</h1>
			<div class="card hiloulotCard">
				<div class="marquee" style="height: 60px; --length: 27.5s;">
					<ul class="list-group list-group-flush marquee__content" data-fillText="There aren't any today" data-zfFind="hiloulah" data-zfIndex="en">
						<li class="list-group-item">There aren't any today</li>
					</ul>
					<ul class="list-group list-group-flush marquee__content" data-fillText="There aren't any today" data-zfFind="hiloulah" data-zfIndex="en">
						<li class="list-group-item">There aren't any today</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="ishMatzliachSlide" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			</div>
		</div>
		<div>
			<h1 class="text-center mb-0" style="font-size: 2rem; line-height: 1;">Shabbat Schedule</h1>
			<h3 class="text-center" style="font-size: 1rem;" id="makam" data-zfReplace="makamot">🎵Makam </h3>
			<div class="card" style="line-height: 1.25; font-size: 1.15rem;">
				<ul class="list-group list-group-flush" id="shabbat">
				</ul>
			</div>
		</div>
		<section class="wideView" data-zfFind="calendarFormatter" data-langPull="hb en">
			{% for item in site.data.tv.listTVZman %}
				<article
					data-zmanid="{{ item.id }}"
					{% if item.timeGetter %}data-timeGetter="{{ item.timeGetter }}"{% endif %}
					{% if item.attributes.luachInclusive %}data-luachInclusive="{{ item.attributes.luachInclusive }}"{% endif %}
					{% if item.attributes.yomTovInclusive %}data-yomTovInclusive="{{ item.attributes.yomTovInclusive }}"{% endif %}
					{% if item.attributes.condition %}data-condition="{{ item.attributes.condition }}"{% endif %}
				>
					<span class="langTV lang-hb">{{ item.names.hb }}</span>
					<span class="langTV lang-en">{{ item.names.en }}</span>
					<span class="langTV lang-et">{{ item.names.et }}</span>
					<span class="langTV lang-ru">{{ item.names.ru }}</span>
					<span class="timeDisplay"></span>
				</article>
			{% endfor %}
		</section>
		<section id="weatherInsert" class="wideView" data-zfFind="weatherInsert">
			
		</section>
	</div>
</div>

<script type="module" src="/assets/js/shul-wall/date-and-time.js"></script>
<script type="module" src="/assets/js/shul-wall/reset.js"></script>
<script type="module" src="/assets/js/shul-wall/parasha.js"></script>
<script type="module" src="/assets/js/shul-wall/times.js"></script>
<script type="module" src="/assets/js/shul-wall/limud.js"></script>
<script type="module" src="/assets/js/shul-wall/sidebar.js"></script>
<script type="module" src="/assets/js/shul-wall/pageFlip.js"></script>
<script type="module">
	import schedule from '/assets/js/shul-wall/scheduleOnline.js';
	await schedule('https://raw.githubusercontent.com/Zemaneh-Yosef/extras/refs/heads/main/ish-matzliach.ini');

	const flyerURLs = (await (await fetch('https://zemaneh-yosef.github.io/extras/ls.txt')).text())
		.split('\n')
		.filter(str => str.startsWith('./ish-matzliach-events/'))

	const carousel = document.getElementById('ishMatzliachSlide');
	carousel.firstElementChild.innerHTML = flyerURLs
		.map((url, index) =>
			`<div class="carousel-item ${index == 0 ? "active" : ''}"><img src="${url.replace('./', 'https://zemaneh-yosef.github.io/extras/')}" class="d-block w-100"></div>`)
		.join('');

	/*const weatherData = await (await fetch('https://api.open-meteo.com/v1/forecast?latitude=40.6501&longitude=-73.9496&hourly=temperature_2m,weather_code,is_day&timezone=America%2FNew_York&forecast_days=1&timeformat=unixtime&temperature_unit=fahrenheit')).json();
	weatherData.hourly.time.forEach((date, index) => {
		const d = new Date(date);
		
	}) */
</script>