---
title: Mishkan Torah
permalink: /shul-wall/mishkan-torah
layout: nothing
---

<link href="/assets/css/shul-wall/marquee.css" rel="stylesheet" />
<link href="/assets/css/shul-wall/clock.css" rel="stylesheet">

<style>
	body {
		--bs-body-color: black;
	}

	#content {
		width: 100%;
		height: 100dvh;
		display: grid;
		background: white;
		font-family: 'Neutro', var(--bs-body-font-family);
	}

	#content > * {
		grid-area: 1 / 1;
	}

	#clock {
		font-size: 2em;
		line-height: 1;
	}

	.centerLeftgrid svg {
		height: 1em;
		width: 1em;
		vertical-align: bottom;
	}

	.centerLeftgrid svg path {
		fill: black;
	}

	.centerLeftgrid {
		display: grid;
		justify-content: center;
		padding-bottom: .5rem;
		font-size: 1.25em;
	}

	.centerLeftgrid i {
		width: 1em;
		text-align: center;
	}

	#dataGrid {
		width: calc(100% - 2vw);
		height: calc(100dvh - 2.75vw - 2dvh);
		margin-top: 2dvh;
		margin-left: 1vw;
		z-index: 5;
		display: grid;
		grid-template-columns: 1.25fr 1fr 1.25fr;
		grid-template-rows: 1fr 1fr auto auto;
		column-gap: 10px;
		row-gap: 5px;
	}

	#gne {
		width: 25vw;
		justify-self: center;
		align-self: center;
		z-index: 1;
		opacity: 50%;
	}

	.wideView {
		display: flex;
		text-align: center;
		align-self: end;
		grid-column: 1 / span 3;
	}

	#content[data-current-page="1"] .langTV:not(.lang-hb) {
		display: none;
	}

	#content[data-current-page="2"] .langTV:not(.lang-en) {
		display: none;
	}

	.wideView > * {
		flex: 1 1;
		width: 125px;
	}

	.wideView > * {
		border-right:1px solid black;
	}

	article > .langTV {
		padding-bottom: .5rem;
		font-weight: bold;
	}

	#poweredBy {
		justify-self: center;
		align-self: end;
		margin-bottom: .75vw;
		text-align: center;
		line-height: 1.2;
		font-size: .6rem;
	}

	.hiloulotCard .list-group-item {
		--bs-list-group-item-padding-y: .25rem;
		--bs-list-group-border-color: #49505799;
		--bs-list-group-item-padding-x: 1.25rem;
	}

	.hiloulotCard .card-header {
		--bs-card-cap-padding-x: .75rem;
	}

	#dataGrid > *:not(:nth-child(2)) .card .list-group {
		--bs-list-group-item-padding-y: 0.25rem;
		--bs-list-group-border-color: #49505755;
		--bs-list-group-item-padding-x: .35rem;
		--bs-list-group-color: white;
	}

	#dataGrid h2 {
		text-align: center;
		font-size: 1.5em;
		margin-bottom: .25em;
		margin-top: .25em;
	}

	#dataGrid .card {
		--bs-card-bg: rgba(0,0,0,.4);
	}

	#dataGrid > *:not(:nth-child(2)):not(#megaline) {
		font-size: 0.75em;
	}

	#dataGrid > *:not(:nth-child(2)):not(:last-child):not(#megaline):not(#ishMatzliachSlide) {
		height: 100%;
		padding: .5rem;
		padding-top: 1rem;
		position: relative;
		color: white;
	}

	#dataGrid > *:not(:nth-child(2)):not(:last-child):not(#megaline):not(#ishMatzliachSlide)::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background: black;
		opacity: 90%;
		border-top-left-radius: 40%;
		border-top-right-radius: 20% 10%;
		z-index: -1;
	}

	#dataGrid > *:not(:nth-child(2)):not(:last-child):not(#megaline):not(#ishMatzliachSlide)::after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		background: black;
		opacity: 90%;
		border-top-left-radius: 20% 10%;
		border-top-right-radius: 40%;
		z-index: -1;
	}

	#dataGrid .card .list-group-item {
		--bs-list-group-border-color: #49505755;
		background: transparent;
	}

	#megaline {
		grid-column: 1 / span 3;
		text-align: center;
		/* font-size: 1.15em; */
	}

	#megaline > span {
		unicode-bidi: isolate;
	}

	#megaline > span:not(:last-child)::after {
		content: " - "
	}

	:root {
		--bs-body-font-size: 16px;
	}

	.timeDisplayWide.nextDay::before {
        content: "(Tomorrow)";
		font-size: .75em;
		margin-bottom: -5px;
		display: block;
    }
</style>

<link id="bs" href="/assets/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
<link href="/assets/fonts/subtitle/stylesheet.css" rel="stylesheet">
<link href="/assets/fonts/external-message/stylesheet.css" rel="stylesheet" />
<div id="content" data-current-page="1" data-page-count="2">
	<img id="gne" src="/assets/images/shul-wall/Mishkan-Torah-Logo.png" />
	<div id="trapezoid"></div>
	<div id="poweredBy">
		Powered using זמני יוסף, developed by Maor Na'im. All Halachic times based on Maran Ovadia Yosef zt"l
	</div>
	<div id="dataGrid">
		<div style="line-height: 1.3;">
			<h2>Official Sedarim</h2>
			<div class="card">
				<zman-schedule class="list-group list-group-flush" id="sedarim">
				</zman-schedule>
			</div>
		</div>
		<div style="grid-row-end: span 2;">
			<div data-en-date class="langTV lang-en text-center"></div>
			<div data-hb-date class="langTV lang-hb text-center"></div>
			<hr style="margin: .15rem 0; width: 78%; margin-left: auto; margin-right: auto;">
			<div id="clock" class="text-center"><span data-sw-hour></span><span class="blink">:</span><span data-sw-minute></span> <span data-sw-portion></span></div>
			<div class="card mb-2 mt-3" style="font-size: .75rem;">
				<ul class="list-group list-group-flush">
					<li class="list-group-item" data-zfReplace="SpecialDay" style="display: none;"></li>
					<li class="list-group-item" data-zfFind="FastDays" style="display: none;">
						{% for fast in site.data.events.fasts %}
						<h5 data-zfFind="{{ fast.yomTovIndex }}">{{ fast.text.en }}</h5>
						{% endfor %}
						<span data-zfFind="oneDayTimes"><b>Fast Times: </b></span>
						<ul data-zfFind="twoDayTimes">
							<li><b>Fast Starts<span data-zfFind="erevTzom"> (Tonight)</span>: </b></li>
							<li><b>Fast Ends<span data-zfFind="erevTzom"> (Tonight)</span>: </b></li>
						</ul>
					</li>
					<li class="list-group-item" data-zfFind="MourningPeriod" style="display: none;">
						<div data-zfFind="SefirathHaomer">
							<div class="lang lang-hb" style="display: block !important;">
								<h5 class="mb-0" style="font-size: 1.15rem;">הַיּוֹם <span data-zfReplace="completeCount"></span> לָעֹמֶר</h5>
								<p>שֶׁהֵם <span data-zfReplace="indCount"></span></p>
								<p class="mb-0">
									<b>הלילה:</b>
									<span data-zfReplace="completeCount" data-omerDay="tomorrow"></span> לָעֹמֶר<span>, שֶׁהֵם
									<span data-zfReplace="indCount" data-omerDay="tomorrow"></span></span>
								</p>
							</div>
							<hr class="my-1" data-zfFind="omerRules">
						</div>
						<div data-zfFind="ThreeWeeksHeader">
							<h5 style="font-size: .9rem; margin-bottom: .1em;">
								<span data-zfFind="threeWeeks">Three Weeks</span>
								<span data-zfFind="nineDays">Nine Days</span>
								<span data-zfFind="weekOf">The week of Tisha Beav</span>
							</h5>
						</div>
						<ul style="padding-left: 1.5rem;" class="d-none">
							{% for minhag in site.data.mourningMinhag %}
							<li data-zfFind="{{ minhag.topic }}">{{ minhag.text.en }}</li>
							{% endfor %}
						</ul>
					</li>
					<li class="list-group-item" data-zfFind="Chamah" style="display: none;">
						ברכת החמה!
					</li>
					<li class="list-group-item" data-zfFind="Tekufa" style="display: none;">
						<b>תקופת <span data-zfReplace="tekufaName-hb"></span></b> בשעה <span data-zfReplace="tekufaTime"></span><br>
						<small class="fw-normal">צאם מים: <span data-zfReplace="tekufaFastTime"></span></small>
					</li>
				</ul>
			</div>
		</div>
		<div style="line-height: 1.3;">
			<h2 style="text-align: center;" data-parasha data-prefix="en-hb"></h2>
			<div class="centerLeftgrid">
				<div style="text-align: left; width: fit-content; line-height: 1;">
					<div data-lightingCandles><i class="bi bi-fire"></i> </div>
					<div data-tzetShab><svg viewBox="0 0 100 100"><use href="/assets/images/havdalah.svg#Layer_1"/></svg> </div>
				</div>
			</div>
			<div class="card">
				<zman-schedule class="list-group list-group-flush" id="shabbat"></zman-schedule>
			</div>
		</div>
		<div style="line-height: 1.3;">
			<h2>Weekday Shiurim</h2>
			<div class="card">
				<zman-schedule class="list-group list-group-flush" id="shiurim" style="display: none;">
				</zman-schedule>
			</div>
		</div>
		<div style="line-height: 1.3;">
			<h2>Weekday Tefilot</h2>
			<div class="card">
				<zman-schedule class="list-group list-group-flush" id="weekday">
				</zman-schedule>
			</div>
		</div>
		<div id="megaline">
			<span data-zfFind="BirchatHalevana">
				Birkat Ha'Levana (until the night of <span data-zfReplace="date-en-end"></span>)
				<span data-zfFind="starts-tonight"> - Starts tonight</span>
				<span data-zfFind="ends-tonight"> - Ends tonight</span>
			</span>
			<span data-zfReplace="Tachanun">
				<span data-zfFind="0">
					<span class="langTV lang-hb">לוח-תחנון יום</span>
					<span class="langTV lang-en-et">Calendar-Taḥanun Day</span>
					<span class="langTV lang-en">Calendar-Taḥanun Day</span>
					<span class="langTV lang-ru">Календарь — День Тахануна</span>
				</span>
				<span data-zfFind="1">
					<span class="langTV lang-hb">תחנון רק בשחרית</span>
					<span class="langTV lang-en-et">Only Taḥanun by Shaḥarith</span>
					<span class="langTV lang-en">Only Taḥanun by Shaḥarith</span>
					<span class="langTV lang-ru">Только Таханун от Шахарит</span>
				</span>
				<span data-zfFind="2">
					<span class="langTV lang-hb">אין תחנון היום</span>
					<span class="langTV lang-en-et">No Taḥanun</span>
					<span class="langTV lang-en">No Taḥanun</span>
					<span class="langTV lang-ru">Нет Тахануна</span>
				</span>
				<span data-zfFind="3">צדקתך</span>
				<span data-zfFind="4">יהי שם</span>
			</span>
			<span data-zfReplace="Hallel" style="display: none;"></span>
			<span data-zfReplace="Ulchaparat" style="display: none;"></span>
			<span data-zfFind="SeasonalPrayers">
				<span data-zfReplace="SeasonalPrayers"></span>
			</span>
		</div>
		<div class="marquee marqueeHorizontal" id="flyerForBusiness" style="grid-column: 1 / span 3; --length: 45s">
			<section class="wideView marquee__content" data-zfFind="calendarFormatter" data-langPull="hb en">
				<article
					data-zmanid="customDawn"
					data-round="later"
					data-timeGetter="customDawn"
				>
					<span class="langTV lang-hb">עלות (חומרה)</span>
					<span class="langTV lang-en">Stringent Dawn</span>
					<span class="langTV lang-et">Stringent Dawn</span>
					<span class="langTV lang-ru"></span>
					<span class="timeDisplay"></span>
				</article>
				{% for item in site.data.tv.listTVZman %}
					<article
						data-zmanid="{{ item.id }}"
						{% if item.round %}data-round="{{ item.round }}"{% endif %}
						{% if item.timeGetter %}data-timeGetter="{{ item.timeGetter }}"{% endif %}
						{% if item.attributes.luachInclusive %}data-luachInclusive="{{ item.attributes.luachInclusive }}"{% endif %}
						{% if item.attributes.yomTovInclusive %}data-yomTovInclusive="{{ item.attributes.yomTovInclusive }}"{% endif %}
						{% if item.attributes.condition and item.id != "alot" %}data-condition="{{ item.attributes.condition }}"{% endif %}
					>
						<span class="langTV lang-hb">{{ item.names.he }}</span>
						<span class="langTV lang-en">{{ item.names.en }}</span>
						<span class="langTV lang-et">{{ item.names.et }}</span>
						<span class="langTV lang-ru">{{ item.names.ru }}</span>
						<span class="timeDisplay"></span>
					</article>
				{% endfor %}
				<article
					data-zmanid="minhaKetana"
					data-round="later"
					data-timeGetter="getMinchaKetana"
				>
					<span class="langTV lang-hb">מנחה קטנה</span>
					<span class="langTV lang-en">Mincha Ketana</span>
					<span class="langTV lang-et">Mincha Ketana</span>
					<span class="langTV lang-ru"></span>
					<span class="timeDisplay"></span>
				</article>
				<article
					data-zmanid="rt"
					data-round="later"
					data-timeGetter="getTzetRT"
				>
					<span class="langTV lang-hb">רבינו תם</span>
					<span class="langTV lang-en">Rabbenu Tam</span>
					<span class="langTV lang-et">Rabbenu Tam</span>
					<span class="langTV lang-ru"></span>
					<span class="timeDisplay"></span>
				</article>
			</section>
			<section aria-hidden="true" class="wideView marquee__content"></section>
		</div>
	</div>
</div>

<script id="zy-scheduleScreen-config" type="application/json">
	{
		"seconds": false,
		"timeFormat": "h12",
		"language": "en",
		"location": {
			"name": "Mishkan Torah",
			"lat": 34.1712077962039,
			"long": -118.53573149986414,
			"elevation": 0,
			"timezone": "America/Los_Angeles"
		},
		"calendarToggle": {
			"rtKulah": true,
			"tekufaMidpoint": "hatzoth",
			"tekufaCalc": "shemuel",
			"forceSunSeasonal": false
		},
		"customTimes": {
			"candleLighting": 20,
			"tzeithIssurMelakha": { "minutes": 30, "degree": 7.165 }
		}
	}
</script>
<script type="module" src="/assets/js/shul-wall/date-and-time.js"></script>
<script type="module" src="/assets/js/shul-wall/reset.js"></script>
<script type="module" src="/assets/js/shul-wall/parasha.js"></script>
<script type="module" src="/assets/js/shul-wall/times.js"></script>
<script type="module" src="/assets/js/shul-wall/sidebar.js"></script>
<script type="module" src="/assets/js/shul-wall/pageFlip.js"></script>
<script type="module" src="/assets/js/shul-wall/limud.js"></script>
<script type="module">
	import {loadIniSchedule} from '/assets/js/shul-wall/scheduleOnline.js';

	await loadIniSchedule('https://zemaneh-yosef.github.io/extras/yonah-schedule.ini');
	for (const child of document.getElementsByClassName('marquee__content')[0].children) {
		const newChild = child.cloneNode(true);
		child.parentElement.nextElementSibling.appendChild(newChild);
	}
</script>