---
title: Ohel Michael Shul
permalink: /shul-wall/ohel-michael-adj
layout: nothing
---

<style>
	#content {
		width: 100vw;
		height: 100dvh;
		display: grid;
		background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 100%), url("/assets/images/shul-wall/yonah-bg.png");
        background-size: cover;
		background-position-y: bottom;
		font-family: 'Neutro', var(--bs-body-font-family);
	}

	#content > * {
		grid-area: 1 / 1;
	}

	#zyTrapezoid {
        justify-self: center;
        align-self: start;
        width: 65%;
        filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
    }

	#shulBar {
		width: 45%;
		background-color: #2e334a;
		justify-self: center;
		align-self: start;
		font-family: 'Neutro';
		border-bottom-left-radius: 5rem;
		border-bottom-right-radius: 5rem;
		text-align: center;
		z-index: 2;
		font-size: 0.8em;
	}

	.blink {
		animation: blinker 1s step-start infinite;
	}

	#clock {
		font-size: 3em;
	}

	#topBar {
		text-align: center;
		display: flex;
		justify-content: space-evenly;
		width: 55%;
		justify-self: center;
		align-self: start;
		color: white;
		z-index: 3;
		line-height: 1;
		margin-top: 1.25rem;
		align-items: center;
		font-size: .8em;
	}

	#topBar > * {
		flex: 1 1;
	}

	@keyframes blinker {
		50% {
			opacity: 0;
		}
	}

	#topBar svg {
		height: 1em;
		width: 1em;
		vertical-align: bottom;
	}

	#topBar svg path {
		fill: white;
	}

	#quickTimes {
		display: grid;
		justify-content: center;
	}

	#quickTimes i {
		width: 1em;
		text-align: center;
	}

	#bsD {
        font-family: 'Guttman Mantova';
        justify-self: end;
        line-height: 1;
        padding-right: .75rem;
        color: white;
        font-size: 3rem;
        padding-top: 1.25rem;
        align-self: start;
        z-index: 3;
    }

	#dataGrid {
		width: calc(100% - 2vw);
		height: calc(100dvh - 2.75vw - 12dvh);
		margin-left: 1vw;
		margin-top: 12dvh;
		z-index: 5;
		display: grid;
		grid-template-columns: 1.2fr 1fr 1.2fr;
		grid-template-rows: 1fr auto auto;
		align-items: center;
		column-gap: 6px;
	}

	#gne {
		height: 10dvh;
		justify-self: start;
		align-self: start;
		margin-top: 1rem;
		margin-left: 1.5rem;
		z-index: 3;
		border-radius: 25%;
		}

	.wideView {
		display: flex;
		text-align: center;
		align-self: end;
		grid-column: 1 / span 3;
	}

	.wideView.needsResize {
		font-size: .175em;
	}

	.wideView:not(.showRu) .langTV.lang-ru {
		display: none;
	}

	.wideView.showRu .langTV.lang-hb {
		display: none;
	}

	.wideView > * {
		flex: 1 1;
		padding: 8px;
	}

	.wideView.needsResize > * {
		padding: 5px;
	}

	.wideView > *:first-child {
		padding-left: 0;
	}

	.wideView > *:last-child {
		padding-right: 0;
	}

	.wideView > *:not(:last-child) {
		border-right:1px solid white;
	}

	article > .langTV {
		height: calc(100% - 1em - 8px);
		font-weight: bold;
	}

	#poweredBy {
		justify-self: center;
		align-self: end;
		margin-bottom: .75vw;
		text-align: center;
		line-height: 1.2;
		font-size: .6rem;
	}

	.hiloulotCard .list-group-item {
		--bs-list-group-item-padding-y: .25rem;
		--bs-list-group-border-color: #49505799;
		--bs-list-group-item-padding-x: 1.25rem;
	}

	.hiloulotCard .card-header {
		--bs-card-cap-padding-x: .75rem;
	}

	#dataGrid > *:not(:nth-child(2)) .card .list-group {
		--bs-list-group-item-padding-y: 0.25rem;
		--bs-list-group-border-color: #49505755;
		--bs-list-group-item-padding-x: .35rem;
	}

	#dataGrid h2 {
		text-align: center;
		font-size: 1.5em;
		margin-bottom: .25em;
		margin-top: .25em;
	}

	#dataGrid > *:not(:nth-child(2)) .card {
		background: rgba(0,0,0,.4);
	}

	#dataGrid > *:not(:nth-child(2)):not(#megaline) {
		font-size: 0.75em;
	}

	#dataGrid > *:not(:nth-child(2)) .card .list-group-item {
		--bs-list-group-border-color: #49505755;
		background: transparent;
	}

	#megaline {
		grid-column: 1 / span 3;
		text-align: center;
		/* font-size: 1.15em; */
	}

	#megaline > span:not(:last-child)::after {
		content: " - "
	}

	#jug {
		width: 15%;
		aspect-ratio: 1/2.5;
		border: 5px solid white;
		border-top: none;
		border-radius: 7.5px;
		display: flex;
		flex-direction: row;
		align-items: end;
		margin-top: 2.5rem;
		float: left;
		position: relative;
		margin-right: .5rem;
	}

	#jug i {
		position: absolute;
		top: -2.25rem;
		font-size: 2.5rem;
	}

	#jugPercent {
		height: 25%;
		background-color: red;
		width: 100%;
	}

	/* #tefila {
		justify-self: center;
		align-self: start;
		margin-top: 12vh;
		z-index: 5;
	} */

	#noSmartphoneWithIcon {
		background-color: yellow;
		color: black;
		border: 2px solid red;
		padding: .5em;
		border-radius: 5rem;
		text-align: center;
		line-height: 1;
		font-weight: 700;
		margin-top: .25rem;
		position: relative;
		font-size: 1.1em;
	}

	#noPhoneIcon {
		position: absolute;
		left: .25rem;
		height: 1.5em;
		top: .175rem;
	}

	#noSmartphoneWithIcon p {
		margin-bottom: 0;
	}

	:root {
		--bs-body-font-size: 16px;
	}
</style>

<link id="bs" href="/assets/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
<link rel="stylesheet" href="/assets/css/dark.css" media="screen and (prefers-color-scheme: dark)">
<link href="/assets/fonts/subtitle/stylesheet.css" rel="stylesheet">
<link href="/assets/fonts/external-message/stylesheet.css" rel="stylesheet" />
<div id="content">
	<div id="bsD">בס"ד</div>
	<img id="gne" src="/assets/images/shul-wall/ohel-michael-logo.jpg" />
	<img id="zyTrapezoid" src="/assets/images/shul-wall/square-trapezoid.svg" />
	<div id="shulBar">Bet Midrash Ohel Michael | In the memory of <b>Michael Ben Ilanit</b></div>
	<div id="poweredBy">
		Powered using זמני יוסף, developed by Maor Na'im. All Halachic times based on Maran Ovadia Yosef zt"l
	</div>
	<div id="topBar">
		<div>
			<span data-en-date></span>
			<hr style="margin: .25rem 0">
			<span data-hb-date></span>
		</div>
		<div id="clock"><span data-sw-hour></span><span class="blink">:</span><span data-sw-minute></span> <span data-sw-portion></span></div>
		<div id="quickTimes">
			<div style="text-align: left; width: fit-content">
				<div style="text-align: center; font-weight: bold; font-size: 1.15em;" data-parasha></div>
				<div data-lightingCandles><i class="fa fa-fire" aria-hidden="true"></i> </div>
				<div data-tzetShab data-rt-text='R"T'>{% include havdalah.svg %} </div>
			</div>
		</div>
	</div>
	<!-- <h2 id="tefila">Please keep smartphones away throughout Tefila. Connect to Hashem!</h2> -->
	<div id="dataGrid">
		<div style="line-height: 1.3;">
			<h2>Weekday Tefilot</h2>
			<div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div><b>1<sup>st</sup> Shacharit</b> (Hodu)</div>
						<span>6:55 AM (Mon/Thu)<br>7:00 AM (Tue/Wed/Fri)</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-content-center">
						<div><b>2<sup>nd</sup> Shacharit</b> (Hodu)</div>
						<span>8:15 AM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between">
						<b>Mincha & Arvit</b>
						<span>7:50 PM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between">
						<b>2<sup>nd</sup> Arvit</b>
						<span>9:30 PM</span>
					</li>
				</ul>
			</div>
			<h2>Shabbat Tefilot</h2>
			<div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-between">
						<div><b>Early Erev Shabbat Tefilot</b> + Learning</div>
						<span>6:20 PM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between">
						<div><b>Regular Erev Shabbat Tefilot</b> + Learning</div>
						<span>7:30 PM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between">
						<div><b>Shacharit</b> (+ Kiddush & Learning)</div>
						<span>8:30 AM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between">
						<b>Mincha</b>
						<span>7:15 PM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between">
						<b>Arvit</b>
						<span>9:10 PM</span>
					</li>
				</ul>
			</div>
			<div id="noSmartphoneWithIcon">
				<img src="/assets/images/shul-wall/no-phone.webp" id="noPhoneIcon" />
				<p>Please keep cellphones away throughout Tefila.</p>
			</div>
		</div>
		<div>
			<div style="color: pink; font-size: .725em; text-align: center;">
				<b>Shabbat Kiddush</b> sponsor: Mirzakandov family<br>
				Leylu Nishmat: Shura bat Rochel & Rochel bat Billyah
			</div>
			<div class="card mb-2 mt-2 mt-lg-0" style="font-size: .75rem;">
				<ul class="list-group list-group-flush">
					<li class="list-group-item" data-zfReplace="SpecialDay" style="display: none;"></li>
					<li class="list-group-item" data-zfFind="FastDays" style="display: none;">
						{% for fast in site.data.events.fasts %}
						<h5 data-zfFind="{{ fast.yomTovIndex }}">
							<span class="lang lang-hb">{{ fast.text.hb }}</span>
							<span class="lang lang-et">{{ fast.text.et }}</span>
							<span class="lang lang-en">{{ fast.text.en }}</span>
						</h5>
						{% endfor %}
						<span data-zfFind="oneDayTimes">
							<b class="lang lang-en">Fast Times: </b>
							<b class="lang lang-et">Fast Times: </b>
							<b class="lang lang-hb">שעות הצום: </b>
						</span>
						<ul data-zfFind="twoDayTimes">
							<li>
								<b class="lang lang-en">Fast Starts<span data-zfFind="erevTzom"> (Tonight)</span>: </b>
								<b class="lang lang-et">Fast Starts<span data-zfFind="erevTzom"> (Tonight)</span>: </b>
								<b class="lang lang-hb">הצום מתחיל<span data-zfFind="erevTzom"> (הלילה)</span>: </b>
							</li>
							<li>
								<b class="lang lang-en">Fast Ends<span data-zfFind="erevTzom"> (Tonight)</span>: </b>
								<b class="lang lang-et">Fast Ends<span data-zfFind="erevTzom"> (Tonight)</span>: </b>
								<b class="lang lang-hb">הצום נגמר<span data-zfFind="erevTzom"> (הלילה)</span>: </b>
							</li>
						</ul>
					</li>
					<li class="list-group-item" data-zfFind="MourningPeriod" style="display: none;">
						<div data-zfFind="SefirathHaomer">
							<div class="lang lang-hb" style="display: block !important;">
								<h5 class="mb-0">הַיּוֹם <span data-zfReplace="completeCount"></span> לָעֹמֶר</h5>
								<p>שֶׁהֵם <span data-zfReplace="indCount"></span></p>
								<p class="mb-0">
									<b>הלילה:</b>
									<span data-zfReplace="completeCount" data-omerDay="tomorrow"></span> לָעֹמֶר<span>, שֶׁהֵם
									<span data-zfReplace="indCount" data-omerDay="tomorrow"></span></span>
								</p>
							</div>
							<hr class="my-1" data-zfFind="omerRules">
						</div>
						<div data-zfFind="ThreeWeeksHeader">
							<h5 style="font-size: .9rem; margin-bottom: .1em;">
								<span data-zfFind="threeWeeks">Three Weeks</span>
								<span data-zfFind="nineDays">Nine Days</span>
								<span data-zfFind="weekOf">The week of Tisha Beav</span>
							</h5>
						</div>
						<ul style="padding-left: 1.5rem;">
							{% for minhag in site.data.mourningMinhag %}
							<li data-zfFind="{{ minhag.topic }}">{{ minhag.text.en }}</li>
							{% endfor %}
						</ul>
					</li>
					<li class="list-group-item" data-zfFind="Chamah" style="display: none;">
						ברכת החמה!
					</li>
					<li class="list-group-item" data-zfFind="Tekufa" style="display: none;">
						<b>תקופת <span data-zfReplace="tekufaName-hb"></span></b> בשעה <span data-zfReplace="tekufaTime"></span><br>
						<small class="fw-normal">צאם מים: <span data-zfReplace="tekufaFastTime"></span></small>
					</li>
				</ul>
			</div>
			<div id="jug"><i class="fa fa-fire" aria-hidden="true"></i><div id="jugPercent"></div></div>
			<h2 class="text-center">שמן למאור<br>Total Budget</h2>
			<p>
				<b>Money raised thus far:</b> $<span data-raised-money></span><br>
				<b>Money needed:</b> $<span data-fundraising-money></span><br>
			</p>
		</div>
		<div style="line-height: 1.3;">
			<h2>Official Sedarim</h2>
			<div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<b>Early Morning</b>
						<span>Mon-Fri, 6:15 AM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div><b>Morning</b> (Avrechim)</div>
						<span>Sun-Fri, 7:45 AM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-content-center">
						<div><b>Night</b> (+ Food)</div>
						<span>Sun-Thu, 8:25 PM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-content-center">
						<div><b>Shabbat</b> (+ Kiddush & Learning)</div>
						<span>5:00 PM</span>
					</li>
				</ul>
			</div>
			<h2>Weekday Shiurim</h2>
			<div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<b>Kinyan Hamasechta - Megila</b><br>
							<span>w/ R' Yonah Nisanov</span>
						</div>
						<span style="text-align: right;">Mon-Fri, 6:15 AM<br>Mon-Thu, 9:00 PM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<b>Tefila</b> w/ R' Yonah Nisanov
						</div>
						<span style="text-align: right;">Mon-Thu, 8:30 PM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<b>Hilchot Shabbat</b> w/ R' Emanuel Aminov
						</div>
						<span style="text-align: right;">Sun-Thu, 8:30 PM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<b>Morning Halachot & Shaar Habitachon</b><br>
							w/ R' Aharon Sulimanov
						</div>
						<span style="text-align: right;">Mon & Wed,<br>8:30 PM</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<b>Musar & Parasha</b> w/ R' Elisha Rhodes
						</div>
						<span style="text-align: right;">Sun & Tue, 8:30 PM</span>
					</li>
				</ul>
			</div>
		</div>
		<div id="megaline">
			<span data-zfFind="BirchatHalevana">
				Birkat Halvana (until the night of <span data-zfReplace="date-en-end"></span>)
				<span data-zfFind="starts-tonight"> - Starts tonight</span>
				<span data-zfFind="ends-tonight"> - Ends tonight</span>
			</span>
			<span data-zfReplace="Tachanun"></span>
			<span data-zfReplace="Hallel" style="display: none;"></span>
			<span data-zfReplace="Ulchaparat" style="display: none;"></span>
			<span data-zfFind="SeasonalPrayers">
				<span data-zfReplace="SeasonalPrayers"></span>
			</span>
		</div>
		<section class="wideView" data-zfFind="calendarFormatter">
			{% for item in site.data.tvZmanEng %}
				<article
					data-zmanid="{{ item.id }}"
					{% if item.timeGetter %}data-timeGetter="{{ item.timeGetter }}"{% endif %}
					{% if item.attributes.luachInclusive %}data-luachInclusive="{{ item.attributes.luachInclusive }}"{% endif %}
					{% if item.attributes.yomTovInclusive %}data-yomTovInclusive="{{ item.attributes.yomTovInclusive }}"{% endif %}
					{% if item.attributes.condition %}data-condition="{{ item.attributes.condition }}"{% endif %}
				>
					<span class="langTV lang-hb">{{ item.names.hb }}</span>
					<span class="langTV lang-ru">{{ item.names.ru }}</span>
					<span class="timeDisplay"></span>
				</article>
			{% endfor %}
		</section>
	</div>
</div>

<script type="module" src="/assets/js/shul-wall/date-and-time.js"></script>
<script type="module" src="/assets/js/shul-wall/reset.js"></script>
<script type="module" src="/assets/js/shul-wall/parasha.js"></script>
<script type="module" src="/assets/js/shul-wall/times.js"></script>
<script type="module" src="/assets/js/shul-wall/sidebar.js"></script>
<script type="module">
	document.body.setAttribute('data-bs-theme', 'dark');

	const moneyFundraiser = await (await fetch('https://zemaneh-yosef.github.io/extras/yonah-budget.txt', {cache: "no-store"})).text();
	const [moneyRaised, moneyNeeded] = moneyFundraiser.split('\n');

	document.getElementById('jugPercent').style.height = ((moneyRaised / moneyNeeded) * 100) + "%";
	document.querySelector('[data-raised-money]').innerHTML = moneyRaised;
	document.querySelector('[data-fundraising-money]').innerHTML = moneyNeeded;

	if (document.getElementById("content").requestFullscreen) {
		document.getElementById("content").requestFullscreen();
	}
</script>