---
title: Sha'are Tefila Queens
permalink: /shul-wall/shaare-tefila-queens-big
layout: nothing
---

<link href="/assets/css/shul-wall/marquee.css" rel="stylesheet" />
<link href="/assets/css/shul-wall/clock.css" rel="stylesheet">

<style>
	#content {
		width: 100%;
		height: 100vh;
		display: grid;
		background-image: url(/assets/images/shul-wall/west-wall-fade.png);
        background-size: contain;
	}

	#content > * {
		grid-area: 1 / 1;
	}

	#clock {
		font-size: 4.75em;
		font-family: "dharma_gothic_e";
		line-height: 1;
		text-align: center;
	}

	#topBar {
		text-align: center;
		display: flex;
		justify-content: space-evenly;
		width: 60%;
		justify-self: center;
		align-self: start;
		color: black;
		z-index: 3;
		line-height: 1;
		height: 12vh;
		align-items: center;
		font-size: 1.15em;
		font-weight: 500;
	}

	#topBar > * {
		flex: 1 1;
	}

	#quickTimes svg {
		height: 1em;
		width: 1em;
		vertical-align: bottom;
	}

	#quickTimes svg path {
		fill: white;
	}

	#quickTimes {
		display: grid;
		justify-content: center;
		padding-bottom: 1rem;
	}

	#quickTimes i {
		width: 1em;
		text-align: center;
	}

	#bsD {
        font-family: "Narkisim";
		justify-self: end;
		line-height: 1;
		padding-right: 3rem;
		color: black;
		font-size: 4rem;
		padding-top: 1.5rem;
		align-self: start;
		z-index: 3;
    }

	#dataGrid {
		margin-left: 1vw;
        margin-right: 1vw;
		margin-top: 2vh;
        margin-bottom: 5vh;
		z-index: 5;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr auto auto;
		align-items: center;
		row-gap: 16px;
		column-gap: 2vw;
	}

    #dataGrid > *:not(.wideView):not(.marquee) {
        background: rgba(0,0,0,.75);
        border-top-left-radius: 50% 15%;
        border-top-right-radius: 50% 15%;
        padding: 1rem;
        box-shadow: 0 0 7px 5px black;
        padding-top: 2.5rem;
		color: white;
		font-size: 1.55rem;
    }

	#dataGrid > *:not(.wideView):not(.marquee):not(:nth-child(2)) {
		height: 100%;
	}

	#dataGrid > *:not(#limudSection) .list-group-item {
		--bs-list-group-item-padding-y: .25rem;
		--bs-list-group-border-color: #49505799;
		--bs-list-group-item-padding-x: .5rem;
	}

	#gne {
		height: 21vh;
		justify-self: center;
		align-self: start;
		margin-top: .5rem;
		z-index: 3;
    }

	.wideView {
		display: flex;
		text-align: center;
		align-self: end;
		grid-column: 1 / span 3;
		color: black;
	}

    #content[data-current-page="2"] .timeDisplayWide.nextDay::before {
        content: "завтра, ";
    }

    #content[data-current-page="1"] .timeDisplayWide.nextDay::before {
        content: "מחר, ";
    }

	#content[data-current-page="3"] .timeDisplayWide.nextDay::before {
        content: "Tom., ";
    }

	#content[data-current-page="1"] .langTV:not(.lang-hb) {
		display: none;
	}

	#content[data-current-page="2"] .langTV:not(.lang-ru) {
		display: none;
	}

	#content[data-current-page="3"] .langTV:not(.lang-en) {
		display: none;
	}

	.wideView > * {
		flex: 1 1;
		padding: 8px;
	}

	.wideView > *:first-child {
		padding-left: 0;
	}

	.wideView > *:last-child {
		padding-right: 0;
	}

	.wideView > *:not(:last-child) {
		border-right:1px solid black;
	}

	article > .langTV {
		height: calc(100% - 1em - 8px);
		font-weight: bold;
	}

	#poweredBy {
		justify-self: center;
		align-self: end;
		margin-bottom: calc(.75vw - 5px);
		text-align: center;
		line-height: 1.2;
        color: black;
		padding: 5px;
		border-radius: 3rem;
	}

	.hiloulotCard .list-group-item {
		--bs-list-group-item-padding-y: .125rem;
		--bs-list-group-border-color: #49505799;
		--bs-list-group-item-padding-x: .75rem;
	}

	.hiloulotCard .card-header {
		--bs-card-cap-padding-x: .75rem;
	}

	.list-group-item,
	.list-group {
		--bs-list-group-bg: #212529;
		--bs-list-group-color: white;
		--bs-list-group-border-color: var(--bs-border-color);
	}

	:root {
        --bs-body-bg: #1A1D2A !important;
		--bs-heading-color: white !important;
    }

	#dateContainer {
		line-height: 1.25;
		text-align: center;
	}

	#dataGrid > #mainHub:nth-child(2) {
		height: 75%;
		margin-top: 25%;
		border-radius: 35%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding-top: 1rem;
	}

	#mainHub .list-group-item, #mainHub .list-group {
		--bs-list-group-bg: transparent;
	}

	#mainHub .card {
		--bs-card-bg: transparent;
		border: none;
	}

	.marquee__content > img {
		height: 15vh;
	}
</style>

<link id="bs" href="/assets/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
<link rel="stylesheet" href="/assets/css/dark.css" media="screen and (prefers-color-scheme: dark)">
<link href="/assets/fonts/external-message/stylesheet.css" rel="stylesheet" />
<link href="/assets/css/timer.css" rel="stylesheet" />

<div id="content" data-current-page="1" data-page-count="3" data-swap-time="8000">
	<img id="gne" src="/assets/images/shul-wall/shaarehTefilah.svg" />
	<div id="poweredBy">
        <span class="langTV lang-en">Powered using זמני יוסף, developed by Maor Na'im. All Halachic times based on Maran Ovadia Yosef zt"l</span>
		<span class="langTV lang-hb">הובה עליכם ממאור נעים והלוח זמני יוסף, שהולך על פי שיטת מרן עובדיה זצ"ל</span>
        <span class="langTV lang-ru">Работает на основе "זמני יוסף", разработан Маором Наимом. Все галахические времена основаны на учении Марана Овадьи Йосефа, зт"л.</span>
	</div>
	<div id="dataGrid">
		<div>
			<h1 style="text-align: center;">Weekday</h1>
			{% include clockCountdown.html %}
			<div class="card">
				<ul class="list-group list-group-flush" id="weekday">
				</ul>
			</div>
		</div>
		<div id="mainHub">
			<div id="dateContainer">
				<div><span data-hb-date></span>
				<hr style="margin: .25rem 0">
				<span class="langTV lang-en lang-hb" data-en-date></span>
				<span class="langTV lang-ru" data-ru-date></span></div>
			</div>
			<div id="clock"><span data-sw-hour></span><span class="blink">:</span><span data-sw-minute></span> <span data-sw-portion></span></div>
			<div class="card text-center">
				<ul class="list-group list-group-flush">
					<li class="list-group-item" data-zfReplace="SpecialDay" style="display: none;"></li>
					<li class="list-group-item" data-zfFind="FastDays" style="display: none;">
						{% for fast in site.data.events.fasts %}
						<h5 data-zfFind="{{ fast.yomTovIndex }}">
							<span class="lang lang-hb">{{ fast.text.hb }}</span>
							<span class="lang lang-et">{{ fast.text.et }}</span>
							<span class="lang lang-en">{{ fast.text.en }}</span>
						</h5>
						{% endfor %}
						<span data-zfFind="oneDayTimes">
							<b class="lang lang-en">Fast Times: </b>
							<b class="lang lang-et">Fast Times: </b>
							<b class="lang lang-hb">שעות הצום: </b>
						</span>
						<ul data-zfFind="twoDayTimes">
							<li>
								<b class="lang lang-en">Fast Starts<span data-zfFind="erevTzom"> (Tonight)</span>: </b>
								<b class="lang lang-et">Fast Starts<span data-zfFind="erevTzom"> (Tonight)</span>: </b>
								<b class="lang lang-hb">הצום מתחיל<span data-zfFind="erevTzom"> (הלילה)</span>: </b>
							</li>
							<li>
								<b class="lang lang-en">Fast Ends<span data-zfFind="erevTzom"> (Tonight)</span>: </b>
								<b class="lang lang-et">Fast Ends<span data-zfFind="erevTzom"> (Tonight)</span>: </b>
								<b class="lang lang-hb">הצום נגמר<span data-zfFind="erevTzom"> (הלילה)</span>: </b>
							</li>
						</ul>
					</li>
					<li class="list-group-item" data-zfFind="MourningPeriod" style="display: none;">
						<div data-zfFind="SefirathHaomer">
							<div class="lang lang-en">
								<h5 class="mb-0"><span data-zfReplace="completeCount"></span> day of the Omer</h5>
								<p><span data-zfReplace="indCount"></span></p>
								<p class="mb-0">
									<b>Tonight:</b>
									<span data-zfReplace="completeCount" data-omerDay="tomorrow"></span> day of the Omer<span> -
									<span data-zfReplace="indCount" data-omerDay="tomorrow"></span></span>
								</p>
							</div>
							<div class="lang lang-et">
								<h5 class="mb-0">Today is <span data-zfReplace="completeCount"></span> of the Omer</h5>
								<p>which <span data-zfReplace="indCount"></span></p>
								<p class="mb-0">
									<b>Tonight:</b>
									<span data-zfReplace="completeCount" data-omerDay="tomorrow"></span> of the Omer<span>, which
									<span data-zfReplace="indCount" data-omerDay="tomorrow"></span></span>
								</p>
							</div>
							<div class="lang lang-hb">
								<h5 class="mb-0">הַיּוֹם <span data-zfReplace="completeCount"></span> לָעֹמֶר</h5>
								<p>שֶׁהֵם <span data-zfReplace="indCount"></span></p>
								<p class="mb-0">
									<b>הלילה:</b>
									<span data-zfReplace="completeCount" data-omerDay="tomorrow"></span> לָעֹמֶר<span>, שֶׁהֵם
									<span data-zfReplace="indCount" data-omerDay="tomorrow"></span></span>
								</p>
							</div>
							<hr class="my-1" data-zfFind="omerRules">
						</div>
						<div data-zfFind="ThreeWeeksHeader">
							<h5>
								<span class="lang lang-hb">
									<span data-zfFind="threeWeeks">שלושה שבועות</span>
									<span data-zfFind="nineDays">תשעה ימים</span>
									<span data-zfFind="weekOf">שבוע שחל בו</span>
								</span>
								<span class="lang lang-et">
									<span data-zfFind="threeWeeks">Three Weeks</span>
									<span data-zfFind="nineDays">Nine Days</span>
									<span data-zfFind="weekOf">The week of Tisha Beav</span>
								</span>
								<span class="lang lang-en">
									<span data-zfFind="threeWeeks">Three Weeks</span>
									<span data-zfFind="nineDays">Nine Days</span>
									<span data-zfFind="weekOf">The week of Tisha Beav</span>
								</span>
							</h5>
						</div>
						<div class="marquee" style="height: 50px;">
							<ul class="marquee__content">
								{% for minhag in site.data.mourningMinhag %}
								<li data-zfFind="{{ minhag.topic }}">
									<span class="lang lang-hb">{{ minhag.text.hb }}</span>
									<span class="lang lang-et">{{ minhag.text.en }}</span>
									<span class="lang lang-en">{{ minhag.text.en }}</span>
								</li>
								{% endfor %}
							</ul>
							<ul class="marquee__content">
								{% for minhag in site.data.mourningMinhag %}
								<li aria-hidden="true" data-zfFind="{{ minhag.topic }}">
									<span class="lang lang-hb">{{ minhag.text.hb }}</span>
									<span class="lang lang-et">{{ minhag.text.en }}</span>
									<span class="lang lang-en">{{ minhag.text.en }}</span>
								</li>
								{% endfor %}
							</ul>
						</div>
					</li>
					<li class="list-group-item" data-zfReplace="Tachanun">
						<span data-zfFind="0">
							<span class="langTV lang-hb">לוח-תחנון יום</span>
							<span class="langTV lang-en-et">Calendar-Taḥanun Day</span>
							<span class="langTV lang-en">Calendar-Taḥanun Day</span>
							<span class="langTV lang-ru">Календарь — День Тахануна</span>
						</span>
						<span data-zfFind="1">
							<span class="langTV lang-hb">תחנון רק בשחרית</span>
							<span class="langTV lang-en-et">Only Taḥanun by Shaḥarith</span>
							<span class="langTV lang-en">Only Taḥanun by Shaḥarith</span>
							<span class="langTV lang-ru">Только Таханун от Шахарит</span>
						</span>
						<span data-zfFind="2">
							<span class="langTV lang-hb">אין תחנון היום</span>
							<span class="langTV lang-en-et">No Taḥanun</span>
							<span class="langTV lang-en">No Taḥanun</span>
							<span class="langTV lang-ru">Нет Тахануна</span>
						</span>
						<span data-zfFind="3">צדקתך</span>
						<span data-zfFind="4">יהי שם</span>
					</li>
					<li class="list-group-item" data-zfFind="Chamah" style="display: none;">
						<span class="lang lang-hb">ברכת החמה!</span>
						<span class="lang lang-et">Birchath Hachama!</span>
						<span class="lang lang-en">Blessing of the sun!</span>
					</li>
					<li class="list-group-item" data-zfFind="BirchatHalevana">
						<span class="lang lang-hb">
							ברכת הלבנה (עד הלילה של <span data-zfReplace="date-hb-end"></span>)
							<span data-zfFind="starts-tonight"> - מתחיל הלילה</span>
							<span data-zfFind="ends-tonight"> - נגמר בלילה</span>
						</span>
						<span class="lang lang-et">
							Birkath Ha'Levana (until the night of <span data-zfReplace="date-en-end"></span>)
							<span data-zfFind="starts-tonight"> - Starts tonight</span>
							<span data-zfFind="ends-tonight"> - Ends tonight</span>
						</span>
						<span class="lang lang-en">
							Blessing of the moon (until the night of <span data-zfReplace="date-en-end"></span>)
							<span data-zfFind="starts-tonight"> - Starts tonight</span>
							<span data-zfFind="ends-tonight"> - Ends tonight</span>
						</span>
					</li>
					<li class="list-group-item" data-zfReplace="Hallel" style="display: none;"></li>
					<li class="list-group-item" data-zfReplace="Ulchaparat" style="display: none;"></li>
					<li class="list-group-item" data-zfFind="SeasonalPrayers">
						<span data-zfReplace="SeasonalPrayers"></span>
					</li>
					<li class="list-group-item" data-zfFind="Tekufa" style="display: none;">
						<span class="lang lang-hb">
							<b>תקופת <span data-zfReplace="tekufaName-hb"></span></b> בשעה <span data-zfReplace="tekufaTime"></span><br>
							<small class="fw-normal">צאם מים: <span data-zfReplace="tekufaFastTime"></span></small>
						</span>
						<span class="lang lang-et">
							<b>Tekufat <span data-zfReplace="tekufaName-en"></span></b> is at <span data-zfReplace="tekufaTime"></span><br>
							<small class="fw-normal">Water-prohibition timeframe: <span data-zfReplace="tekufaFastTime"></span></small>
						</span>
						<span class="lang lang-en">
							<b>The <span data-zfReplace="tekufaName-en"></span> season</b> is at <span data-zfReplace="tekufaTime"></span><br>
							<small class="fw-normal">Water-prohibition timeframe: <span data-zfReplace="tekufaFastTime"></span></small>
						</span>
					</li>
				</ul>
			</div>
		</div>
		<div>
			<h1 style="text-align: center;" data-parasha data-prefix="hb-en-ru"></h1>
			<div id="quickTimes">
				<div style="text-align: left; width: fit-content; line-height: 1;">
					<div data-lightingCandles><i class="bi bi-fire"></i> </div>
					<div data-tzetShab data-rt-text='R"T'><svg viewBox="0 0 100 100"><use href="/assets/images/havdalah.svg#Layer_1"/></svg> </div>
				</div>
			</div>
			<div class="card">
				<ul class="list-group list-group-flush" id="shabbat">
				</ul>
			</div>
		</div>
		<div class="marquee marqueeHorizontal" id="flyerForBusiness" style="grid-column: 1 / span 3; --length: 45s">
			<div class="marquee__content"></div>
			<div aria-hidden="true" class="marquee__content"></div>
		  </div>
		<section class="wideView" data-zfFind="calendarFormatter" data-langPull="hb ru en">
			{% for item in site.data.tv.simpleTVZman %}
				<article
					data-zmanid="{{ item.id }}"
					{% if item.timeGetter %}data-timeGetter="{{ item.timeGetter }}"{% endif %}
					{% if item.attributes.luachInclusive %}data-luachInclusive="{{ item.attributes.luachInclusive }}"{% endif %}
					{% if item.attributes.yomTovInclusive %}data-yomTovInclusive="{{ item.attributes.yomTovInclusive }}"{% endif %}
					{% if item.attributes.condition %}data-condition="{{ item.attributes.condition }}"{% endif %}
				>
					<span class="langTV lang-hb">{{ item.names.hb }}</span>
					<span class="langTV lang-en">{{ item.names.en }}</span>
					<span class="langTV lang-ru">{{ item.names.ru }}</span>
					<span class="timeDisplay"></span>
				</article>
			{% endfor %}
		</section>
	</div>
</div>

<script type="module" src="/assets/js/shul-wall/date-and-time.js"></script>
<script type="module" src="/assets/js/shul-wall/reset.js"></script>
<script type="module" src="/assets/js/shul-wall/parasha.js"></script>
<script type="module" src="/assets/js/shul-wall/times.js"></script>
<script type="module" src="/assets/js/shul-wall/sidebar.js"></script>
<script type="module" src="/assets/js/shul-wall/pageFlip.js"></script>
<script type="module" src="/assets/js/shul-wall/netzCountdown.js"></script>
<script type="module">
	import schedule from '/assets/js/shul-wall/scheduleOnline.js';
	import WebsiteCalendar from '/assets/js/WebsiteCalendar.js'
	(async () => {
		await schedule('https://zemaneh-yosef.github.io/extras/shaare-tefila.ini');

		const dayCal = new WebsiteCalendar();
		if (!dayCal.hasCandleLighting() && !dayCal.isAssurBemelacha()) {
			const flyerURLs = (await (await fetch('https://zemaneh-yosef.github.io/extras/ls.txt')).text())
				.split('\n')
				.filter(str => str.startsWith('./shaare-tefila-marquee/'))

			for (const marquee of document.getElementById("flyerForBusiness").getElementsByClassName('marquee__content')) {
				marquee.innerHTML = flyerURLs.map(url => `<img src="${url.replace('.', 'https://zemaneh-yosef.github.io/extras')}" />`).join('');
			}
		}
	})();
</script>