<div class="modal fade modal-md" id="calendarModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Calendar-View</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" aria-current="page">English</a></li>
					<li class="nav-item"><a class="nav-link">Jewish</a></li>
					<li class="nav-item"><a class="nav-link">עברית</a></li>
				</ul>
				{% for i in (1..6) %}
					<div class="d-flex calRow" id="calRow{{i}}">
						{% for j in (1..7) %}
							<div class="calBox"></div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>