<div class="modal fade modal-xl" id="ctModal" tabindex="-1" aria-labelledby="ctModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">ChaiTables Downloader</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>ChaiTables is what the אור החיים calendar uses to get visible sunrise times (as explained in the description for sunrise). Use this modal to scrape the website's listed times of the Jewish years <span class="hb-start-year"></span>-<span class="hb-end-year"></span>.so that you could </p>
				<p>To use ChaiTables' Netz data, please insert your country as well as the metropolitan area (MA for short) you reside in:</p>
				<md-outlined-select id="MAIndex" required label="Country Selector">
					<md-select-option selected aria-label="blank"></md-select-option>
					{% for location in site.data.chaiTable %}
					<md-select-option value="{{location.info.value}}">
						<div slot="headline">{{ location.info.title }}</div>
					</md-select-option>
					{% endfor %}
				</md-outlined-select>
				{% for location in site.data.chaiTable %}
				<md-outlined-select id="{{location.info.value}}MetroArea" label="MA of {{ location.info.title }}">
					<md-select-option selected aria-label="blank"></md-select-option>
					{% for metropolitician in location.metroAreas %}
					<md-select-option value="{{metropolitician}}">
						<div slot="headline">{{ metropolitician | replace: "_", " " }}</div>
					</md-select-option>
					{% endfor %}
				</md-outlined-select>
				{%endfor%}
    		</div>
			<div class="modal-footer">
				<button type="button" disabled class="btn btn-primary" id="gctnd">Get ChaiTables Netz Data</button>
			</div>
    	</div>
    </div>
</div>