<div class="modal fade modal-xl" id="ctModal" tabindex="-1" aria-labelledby="ctModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Visual Sunrise times</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Abiding by the times for sunrise recommended by our poskim involves using a specific calendar called לוח בכורי יוסף. The algorithm behind it is on a website called ChaiTables, made by the same author.</p>
				<p>To get this data, please proceed through our minimal-setup derivative of the main ChaiTables setup, involving selecting your country & metropolitan area (MA for short) you reside in:</p>
				<md-outlined-select id="MAIndex" required label="Country Selector">
					<md-select-option selected aria-label="blank"></md-select-option>
					{% for location in site.data.chaiTable %}
					<md-select-option value="{{location.info.value}}">
						<div slot="headline">{{ location.info.title }}</div>
					</md-select-option>
					{% endfor %}
				</md-outlined-select>
				{% for location in site.data.chaiTable %}
				<md-outlined-select id="{{location.info.value}}MetroArea" label="MA of {{ location.info.title }}">
					<md-select-option selected aria-label="blank"></md-select-option>
					{% for metropolitician in location.metroAreas %}
					<md-select-option value="{{metropolitician}}">
						<div slot="headline">{{ metropolitician | replace: "_", " " }}</div>
					</md-select-option>
					{% endfor %}
				</md-outlined-select>
				{%endfor%}
    		</div>
			<div class="modal-footer">
				<button type="button" disabled class="btn btn-primary" id="gctnd">Get ChaiTables Netz Data</button>
			</div>
    	</div>
    </div>
</div>