<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exportModalLabel">Export Field</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="export-zmanim-tab" data-bs-toggle="tab" data-bs-target="#export-zmanim-tab-pane" type="button" role="tab" aria-controls="export-zmanim-tab-pane" aria-selected="true">Zemanim Selection</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="export-holidays-tab" data-bs-toggle="tab" data-bs-target="#export-holidays-tab-pane" type="button" role="tab" aria-controls="export-holidays-tab-pane" aria-selected="false">Holiday Selection (ICS only)</button>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="export-zmanim-tab-pane" role="tabpanel" aria-labelledby="export-zmanim-tab" tabindex="0">
						{% for item in site.data.zmanim %}
							{% if item.shitot %}
							{% for indZman in item.shitot %}
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="exportzmanid-{{ item.id }}-{{ indZman.id }}" checked>
								<label class="form-check-label" for="exportzmanid-{{ item.id }}-{{ indZman.id }}">
									<span class="lang lang-hb">{{ item.names.he }} - {{ indZman.names.he }}</span>
									<span class="lang lang-et">{{ item.names.et }} - {{ indZman.names.et }}</span>
									<span class="lang lang-en">{{ item.names.en }} - {{ indZman.names.en }}</span>
								</label>
							</div>
							{% endfor %}
							{% else %}
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="exportzmanid-{{ item.id }}" checked>
								<label class="form-check-label" for="exportzmanid-{{ item.id }}">
									<span class="lang lang-hb">{{ item.names.he }}</span>
									<span class="lang lang-et">{{ item.names.et }}</span>
									<span class="lang lang-en">{{ item.names.en }}</span>
								</label>
							</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="tab-pane fade" id="export-holidays-tab-pane" role="tabpanel" aria-labelledby="export-holidays-tab" tabindex="0">
						Coming soon! For now, every holiday (except Purim) is already included!
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="downloadModalBtn">
					<i class="bi bi-calendar2-week"></i>
					<span class="lang lang-en">Format as Digital Calendar</span>
					<span class="lang lang-et">Format as Digital Calendar</span>
					<span class="lang lang-hb">הורד לוח שנה דיגיטלי</span>
				</button>
				<button type="button" class="btn btn-primary" id="spreadSheetBtn">
					<img src="/assets/images/download_spread.svg" alt="Download Spreadsheet" style="height: 1em;">
					<span class="lang lang-en">Format as spreadsheet</span>
					<span class="lang lang-et">Format as spreadsheet</span>
					<span class="lang lang-hb">Format as spreadsheet</span>
				</button>
			</div>
		</div>
	</div>
</div>