<div class="modal fade" id="locationModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title"> Location information for <span data-zfReplace="LocationName"></span></h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>(<span data-zfReplace="locationLat"></span>, <span data-zfReplace="locationLng"></span>)</p>
                <p class="lang lang-hb">
                    <b data-zfFind="locationElev">Elevation: </b><span data-zfFind="luachAmudehHoraah"> (disabled outside Eretz Yisrael)</span><br>
                    <b data-zfFind="locationTimeZone">Timezone: </b>
                </p>
                <p class="lang lang-et">
                    <b data-zfFind="locationElev">Elevation: </b><span data-zfFind="luachAmudehHoraah"> (disabled outside Eretz Yisrael)</span><br>
                    <b data-zfFind="locationTimeZone">Timezone: </b>
                </p>
                <p class="lang lang-en">
                    <b data-zfFind="locationElev">Elevation: </b><span data-zfFind="luachAmudehHoraah"> (disabled outside Eretz Yisrael)</span><br>
                    <b data-zfFind="locationTimeZone">Timezone: </b>
                </p>
                <div data-zfFind="locationMap" style="width: 100%; aspect-ratio: 1/1;"></div>
                <hr>
                <p class="lang lang-hb">כשמתפללים את העמידה, צריך לחזור פניו כנגד ארץ ישראל, ירושלים, המקדש, והבית קדשי הקדשים (ברכות בבלי 30a, לפי מלכים א' 8:35-48 & דברי הימים ב' 6:32). קביעת הכיוון של זה ניתן לעשות דרך שיטת "קו הרומב", ש"מצייר" קו מהמיקום של אדם לנקודה מסוימת (שבמקרה שלנו, זה יהיה הר הבית). לאחר שהקו מצויר, אתה מצופה להתפלל בכיוון שבו הקו מצויר דרך התאמת הכיוון שלך לזווית המעלות שלו (אפשרי דרך מצפן).</p>
                <p class="lang lang-et">When praying the Amidah, one should direct himself towards Israel, Jerusalem, the temple mount and the Kodesh Hakodashim area (Berakhot Bavli 30a, based on Kings I 8:35-48 & Chronicles II 6:32). Determining which direction that is in can be done through the "Rhumb line" method, which "draws" a line from one's location to a specific point (which in our case, would be the Temple mount). Once the line is drawn, you are expected to pray in the direction the line is drawn in through matching your direction with its degree angle (possible via a compass).</p>
                <p class="lang lang-en">When praying the Amidah, one should direct himself towards Israel, Jerusalem, the temple mount and the Kodesh Hakodashim area (Berakhot Bavli 30a, based on Kings I 8:35-48 & Chronicles II 6:32). Determining which direction that is in can be done through the "Rhumb line" method, which "draws" a line from one's location to a specific point (which in our case, would be the Temple mount). Once the line is drawn, you are expected to pray in the direction the line is drawn in through matching your direction with its degree angle (possible via a compass).</p>
			</div>
		</div>
	</div>
</div>