<div class="modal fade modal-xl" id="mobileModal" tabindex="-1" aria-labelledby="mobileModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Mobile App downloads</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Get <i>Zemanim</i> on the go with our mobile app, available for Android and iOS devices!</p>
                <div style="text-align: center;">
                    <a href="https://apps.apple.com/app/rabbi-ovadiah-yosef-calendar/id6448838987"><img src="/assets/images/app-store.png" style="width: 25%;" loading="lazy"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.EJ.ROvadiahYosefCalendar"><img src="/assets/images/google-play-store-8-1-73-apk.png" style="width: 25%;" loading="lazy"></a><br>
                    <div class="d-flex justify-content-center mt-1" style="gap: 1rem; color: white;">
                        <a href="https://apps.apple.com/app/rabbi-ovadiah-yosef-calendar/id6448838987" style="display: block; border-radius: .5rem; background: black; width: 25%; padding: .5rem;">
                            <div style="border-radius: .5rem; background: white;">
                                <img src="/assets/images/app-store-qr.png" style="width: 100%" loading="lazy">
                            </div>
                            App Store
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.EJ.ROvadiahYosefCalendar" style="display: block; border-radius: .5rem; background: black; width: 25%; padding: .5rem;">
                            <div style="border-radius: .5rem; background: white;">
                                <img src="/assets/images/gplay-qr.png" style="width: 100%" loading="lazy">
                            </div>
                            Play Store
                        </a>
                    </div>
                </div>
    		</div>
    	</div>
    </div>
</div>