<div class="modal fade" id="unsupportedModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="unsupportedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="unsupportedModalLabel">Not Supported | אינו נתמך</h1>
        </div>
        <div class="modal-body">
          Sorry, our website is not compatible with your browser. Please update to the latest version of either Google Chrome, Microsoft Edge, Mozilla Firefox or Safari to use our site.
          <hr>
          מצטערים, האתר שלנו אינו תואם לדפדפן שלך. אנא עדכן לגרסה העדכנית ביותר של Google Chrome, Microsoft Edge, Mozilla Firefox או Safari כדי להשתמש באתר שלנו.
        </div>
      </div>
    </div>
  </div>