---
title: Pocket-Print Calendar
permalink: /print/pocket
layout: nothing
---

{% capture differences %}{% include printcal/differences.md %}{% endcapture %}
{% capture dayExpl %}{% include printcal/explanation-day.md %}{% endcapture %}
{% capture nightRTExpl %}{% include printcal/explanation-night-rt.md %}{% endcapture %}
{% capture nightNORTExpl %}{% include printcal/explanation-night-nort.md %}{% endcapture %}
{% capture miscExpl %}{% include printcal/misc.md %}{% endcapture %}

<noscript>
	<h1>This site requires JavaScript to function</h1>
	<p>However, you are free to look at descriptions</p>
</noscript>

<link href="/assets/fonts/print/stylesheet.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

<style>
	.tableGrid {
		width: 100%;
		display: grid;
		text-align: center;
		line-height: 1.3;
		page-break-before: always;
		font-size: .5em;
	}

	.tableCell {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		line-height: 1;
	}

	.tableCellHasIcon {
		filter: grayscale(1);
	}

	.tableHeader {
		font-weight: bold;
		padding-right: .125em;
		padding-left: .125em;
	}

	.special {
		display: flex;
	}

	body {
		--bs-body-font-family: "Spectral", "Hadassah Friedlaender", "Noto Emoji", serif;
		--bs-body-font-weight: 600;
	}

	.omerText {
		font-size: .675em;
	}

	[data-zyData="date"] {
		font-size: 1.5em;
		grid-row: 1 / span 2;
		grid-column-end: span 2;
	}

	[data-zyData="special"] {
		display: none;
	}

	.tableCell:not([data-time-for-shita="special"]) > .flexElemWorkaround:only-child {
		font-size: 2.75ex;
	}

	[data-time-for-shita="date"] > .flexElemWorkaround:first-child {
		margin-top: 1px;
	}

	.flexElemWorkaround svg,
	.flexElemWorkaround img {
		height: 1em;
		vertical-align: bottom;
	}

	.flexElemWorkaround svg {
		width: 1em;
	}

	.flexElemWorkaround svg path {
		fill: black;
	}

	#cover {
		height: 100vh;
		width: 100vw;
		display: grid;
		align-items: center;
		justify-items: center;
		color: white;
	}

	#title {
		align-self: start;
		justify-self: center;
		text-align: center;
		z-index: 3;
		padding: .25in;
		color: white;
		width: inherit;
		height: inherit;
		background: rgba(0,0,0,.2);
	}

	#logo {
		width: 75%;
		filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, .8));
	}

	#bgCover {
		width: inherit;
		height: inherit;
		object-fit: cover;
		object-position: right center;
		object-view-box: xywh(25% 5% 75% 90%);
	}

	#cover > * {
		grid-area: 1/1;
	}

	#cover [data-zyLocationText] {
    	font-size: 2em;
		unicode-bidi: plaintext;
		font-weight: 900;
		filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, .8));
	}

	#credits {
		font-weight: 500;
		z-index: 3;
		align-self: end;
		text-align: center;
		justify-self: center;
		line-height: 1.2;
		padding-bottom: .25in;
	}

	.borderRow {
		border-bottom: 1px solid #21252922;
	}

	.lastRow {
		border-bottom: 3px solid #21252922;
	}

	.hebMidWord {
		unicode-bidi: isolate;
	}

	.hebSrc {
		unicode-bidi: plaintext;
	}

	.hebrewTitle {
		font-family: 'Frank Ruhl Libre';
		font-size: 1.25em;
		font-weight: 700;
	}
</style>

<div id="cover">
	<div id="title">
		<img src="/assets/images/logo.png" id="logo" />
		<br><div data-zyLocationText></div>
		Halachic times according to Sepharadic tradition
	</div>
	<img src="/assets/images/splash.jpg" id="bgCover" />
	<div id="credits">
		<p>
			<span data-zfFind="luachAmudehHoraah">Inspired</span><span data-zfFind="luachOhrHachaim">Expanded</span>
			from the <b>Ohr Hachaim</b> calendar<br>by <b>Maran Rabbenu Ovadia Yosef zt"l</b>
		</p>
	</div>
</div>

<main>
	<div class="tableGrid" data-zyTemplate>
		<div class="tableHeader" data-zyData="special"></div>
		<div class="tableHeader" data-zyData="date"></div>
		{% for item in site.data.print.pocket-printOut %}
		{% if item.shitot %}
		<div class="tableHeader" {% if shita.round %}data-round="{{ shita.round }}"{% endif %} data-zyHeaderContainer style="grid-column-end: span 2;">
			<span class="lang lang-hb">{{ item.names.hb }}</span>
			<span class="lang lang-et">{{ item.names.et }}</span>
			<span class="lang lang-en">{{ item.names.en }}</span>
		</div>
		{% for shita in item.shitot %}
		<div class="tableHeader" {% if shita.round %}data-round="{{ shita.round }}"{% endif %} data-zyData="{{ shita.timeGetter }}" style="grid-row: 2;">
			<span class="lang lang-hb">{{ shita.names.hb }}</span>
			<span class="lang lang-et">{{ shita.names.et }}</span>
			<span class="lang lang-en">{{ shita.names.en }}</span>
		</div>
		{% endfor %}
		{% else %}
		<div class="tableHeader" style="grid-row: 1 / span 2;" data-zyData="{{ item.timeGetter }}" {% if item.round %}data-round="{{ item.round }}"{% endif %}>
			<span class="lang lang-hb">{{ item.names.hb }}</span>
			<span class="lang lang-et">{{ item.names.et }}</span>
			<span class="lang lang-en">{{ item.names.en }}</span>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</main>

<div class="secondSide hanukahSplitter">
	<div class="hanukah">
		<div class="hanukahTitle hebrewTitle">חנוכה</div>
		<div class="hanukahRow">
			<div class="hanukahCard">
				<div class="HanukaDay">ליל א׳</div>
				<div class="DateOfHanuka">December 25<sup>th</sup></div>
				<div class="hanukaLightTime">8:00 PM</div>
			</div>
			<div class="hanukahCard">
				<div class="HanukaDay">ליל ב׳</div>
				<div class="DateOfHanuka">December 25<sup>th</sup></div>
				<div class="hanukaLightTime">8:00 PM</div>
			</div>
			<div class="hanukahCard">
				<div class="HanukaDay">ליל ג׳</div>
				<div class="DateOfHanuka">December 25<sup>th</sup></div>
				<div class="hanukaLightTime">8:00 PM</div>
			</div>
			<div class="hanukahCard">
				<div class="HanukaDay">ליל ד׳</div>
				<div class="DateOfHanuka">December 25<sup>th</sup></div>
				<div class="hanukaLightTime">8:00 PM</div>
			</div>
			<div class="hanukahCard">
				<div class="HanukaDay">ליל ה׳</div>
				<div class="DateOfHanuka">December 25<sup>th</sup></div>
				<div class="hanukaLightTime">8:00 PM</div>
			</div>
			<div class="hanukahCard">
				<div class="HanukaDay">ליל ו׳</div>
				<div class="DateOfHanuka">December 25<sup>th</sup></div>
				<div class="hanukaLightTime">8:00 PM</div>
			</div>
			<div class="hanukahCard">
				<div class="HanukaDay">ליל ז׳</div>
				<div class="DateOfHanuka">December 25<sup>th</sup></div>
				<div class="hanukaLightTime">8:00 PM</div>
			</div>
			<div class="hanukahCard">
				<div class="HanukaDay">ליל ח׳</div>
				<div class="DateOfHanuka">December 25<sup>th</sup></div>
				<div class="hanukaLightTime">8:00 PM</div>
			</div>
		</div>
	</div>
	<div class="importantTimes" data-importantItems="6">
		<div class="importantCard">
			<div class="importantCardTitle">
				<img src="/assets/images/print/triangle-pattern.svg">
				<div class="importantCardTitleText"></div>
			</div>
			<div class="importantCardContent">
				<div class="importantCardDates"></div>
				<div class="importantCardTimes"></div>
				<div class="importantCardContentText"></div>
			</div>
		</div>
		<div class="importantCard">
			<div class="importantCardTitle">
				<img src="/assets/images/print/triangle-pattern.svg">
				<div class="importantCardTitleText"></div>
			</div>
			<div class="importantCardContent">
				<div class="importantCardDates"></div>
				<div class="importantCardTimes"></div>
				<div class="importantCardContentText"></div>
			</div>
		</div>
		<div class="importantCard">
			<div class="importantCardTitle">
				<img src="/assets/images/print/triangle-pattern.svg">
				<div class="importantCardTitleText"></div>
			</div>
			<div class="importantCardContent">
				<div class="importantCardDates"></div>
				<div class="importantCardTimes"></div>
				<div class="importantCardContentText"></div>
			</div>
		</div>
		<div class="importantCard">
			<div class="importantCardTitle">
				<img src="/assets/images/print/triangle-pattern.svg">
				<div class="importantCardTitleText"></div>
			</div>
			<div class="importantCardContent">
				<div class="importantCardDates"></div>
				<div class="importantCardTimes"></div>
				<div class="importantCardContentText"></div>
			</div>
		</div>
		<div class="importantCard">
			<div class="importantCardTitle">
				<img src="/assets/images/print/triangle-pattern.svg">
				<div class="importantCardTitleText"></div>
				<div class="importantCardTitleText"></div>
			</div>
			<div class="importantCardContent">
				<div class="importantCardDates"></div>
				<div class="importantCardTimes"></div>
				<div class="importantCardContentText"></div>
			</div>
		</div>
		<div class="importantCard">
			<div class="importantCardTitle">
				<img src="/assets/images/print/triangle-pattern.svg">
				<div class="importantCardTitleText"></div>
			</div>
			<div class="importantCardContent">
				<div class="importantCardDates"></div>
				<div class="importantCardTimes"></div>
				<div class="importantCardContentText"></div>
			</div>
		</div>
	</div>
	<div class="miscTimes">
		<!-- Birkat Halevana & Tekufa-->
	</div>
</div>

<style>
	@page {
		size: 6.87in 4.25in;
		bleed: 0;
		margin: .25in;
	}

	@page :first {
		margin: 0;
	}

	.mb-0 {
		margin-bottom: 0;
	}

	.importantCard {
		box-shadow: inset 0 0 4px #222222;
		border-radius: 1.5rem;
		width: 100%;
		background: #00000011;
		display: flex;
	}

	.importantCardTitle {
		display: grid;
		height: inherit;
	}

	.importantCardTitle > * {
		grid-area: 1 / 1;
	}

	.importantCardTitleText {
		writing-mode: sideways-lr;
		font-family: "Guttman Mantova", "Spectral", serif;
		text-align: center;
		align-content: center;
    	font-size: 40px;
		padding-inline-start: 10px;
		padding-inline-end: 10px;
		box-sizing: content-box;
		font-weight: 800;
	}

	.importantCardTimes {
		width: fit-content;
	}

	.importantCardTimes.complexTimes {
		font-size: 15px;
	}

	.importantCardTimes:not(.complexTimes) {
		font-size: 18px;
	}

	.rabbenuTamAppend {
		font-size: .8em;
		font-weight: 400;
	}

	.importantCardContentText {
		font-size: .8em;
	}

	.importantCardTitle img {
		height: inherit;
		border-top-left-radius: 1.5rem;
		border-bottom-left-radius: 1.5rem;
	}

	.importantCardContent {
		flex: 1 1;
		display: flex;
	    flex-direction: column;
	    justify-content: space-between;
    	align-items: center;
	}

	.secondSide:not(.hanukahSplitter) .importantCard:not(.tallImportantCard) {
		height: 115px;
	}

	.secondSide.hanukahSplitter .importantCard:not(.tallImportantCard) {
		height: 95px;
	}

	.tallImportantCard {
		height: 180px;
		grid-row: span 2;
	}

	.secondSide {
		page-break-before: always;
		width: calc(100vw - .55in);
		height: calc(100vh - .55in);
		display: grid;
		grid-template-rows: 80% 20%;
	}

	.secondSide.hanukahSplitter {
		grid-template-rows: 17.5% 64% 18.5%;
	}

	.secondSide.hanukahSplitter .hanukah {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.secondSide.hanukahSplitter .hanukahRow {
		display: flex;
		text-align: center;
	}

	.DateOfHanuka {
		font-size: .5em;
	}

	.hanukaLightTime {
		font-weight: bold;
	}

	.hanukahCard:not(:last-child) {
		margin-right: 8px;
	}

	.secondSide.hanukahSplitter .importantTimes {
		border-top: 1px solid #21252922;
		margin-top: 8px;
	}
	.importantTimes {
		display: grid;
		gap: 15px;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(3, 1fr);
		flex-direction: column;
		justify-content: center;
		justify-items: center;
		align-items: center;
		font-size: 12px;
		font-weight: 600;
	}

	.importantTimes[data-importantItems="4"],
	.importantTimes[data-importantItems="3"] {
		grid-template-columns: repeat(2, 1fr);
	}

	.importantTimes[data-importantItems="2"] {
		grid-template-rows: 1fr;
		grid-template-columns: repeat(2, 1fr);
	}

	.importantTimes[data-importantItems="1"] {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.importantTimes[data-importantItems="2"] .importantCard:not(.tallImportantCard),
	.importantTimes[data-importantItems="1"] .importantCard:not(.tallImportantCard) {
		height: 150px;
	}

	.importantTimes[data-importantItems="4"] .importantCard,
	.importantTimes[data-importantItems="3"] .importantCard,
	.importantTimes[data-importantItems="2"] .importantCard {
		width: 296px;
	}

	.importantTimes[data-importantItems="3"]:not(.tallImportantCardContainer) .importantCard:last-child {
		grid-column: span 2;
	}

	.HanukaDay {
		font-family: "Guttman Mantova";
	}

	.zmanRow svg {
		height: 2.75ex;
	    width: 2.75ex;
    	vertical-align: top;
	}

	.miscTimes {
		display: flex;
		justify-content: space-around;
		font-size: .6rem;
		text-align: center;
	}

	.miscTimes hr {
		margin: .4rem 0;
	}

	.miscTimes h5 {
		font-size: .85rem;
		margin-bottom: 0;
	}
</style>

<script src="/assets/js/features/print-export.js" type="module"></script>