/* Marquee styles */
.marquee {
  position: relative;
  overflow: hidden;
  user-select: none;
}

.marquee__content {
  min-width: 100%;
  animation: scroll var(--length, 10s) linear infinite;
}

.marqueeHorizontal {
  --gap: .25rem;
  display: flex;
  gap: var(--gap);
}

.marqueeHorizontal .marquee__content {
  display: flex;
  gap: var(--gap);
  flex-shrink: 0;
  justify-content: space-around;
  animation: scrollX var(--length, 10s) linear infinite;
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes scrollX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}