@font-face {
    font-family: 'Guttman Mantova-Decor';
    src: url('GuttmanMantovaDecor.woff2') format('woff2'),
        url('GuttmanMantovaDecor.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
