---
title: Fast Rahimi Times
permalink: /fast/rahimi
breakout: true
website: true
---

<style>
	.maxWidthContainer {
		width: 90rem;
		font-family: 'Neutro', var(--bs-body-font-family);
	}

	#sidebar, .navbar {
		display: none !important;
	}

	#wrapperElement {
		width: 100%;
		aspect-ratio: 9/16;
		overflow: hidden;

		position: relative;
		display: grid;

		background-image:
		linear-gradient(to bottom, black 0%, transparent 5%, transparent 67.5%, #251810 72.5%, #251810 95%, black 100%),
			url('/assets/images/shabbat-abstract/iStock-1176809832.jpg');
		background-size: initial;
		background-position: center;
	}

	#zyTrapezoid {
		justify-self: center;
		align-self: start;
		width: 60%;
		border-top: 220px solid #12141e;
		border-left: 100px solid transparent;
		border-right: 100px solid transparent;
		height: 0;
	}

	#wrapperElement > *:not(.lechaDodi) {
		grid-area: 1/1;
	}

	.footerBold {
		font-weight: 700;
	}

	#zemanehShab {
		align-self: start;
		justify-self: center;
		font-family: 'Neutro', 'Frank Ruhl Libre';
		font-size: 10.5vw;
		font-weight: 700;
		color: transparent;
		background: linear-gradient(69deg, #a9a9a9 25%, #d3d3d3 50%, #a9a9a9 75%);
		background-clip: text;
		text-transform: uppercase;
		margin-top: 4.5vw;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
		text-align: center;
		padding-top: 1vw;
		line-height: .9;
		display: grid;
	}

	.subtitle {
		font-size: 5rem;
		font-family: 'Cinzel';
		color: #D3D3D3;
		font-weight: 600;
		text-transform: capitalize;
		grid-row: 2;
		grid-column: 1;
	}

	#gridElement {
		align-self: center;
		grid-template-columns: 1fr 1fr;
		display: grid;
		margin-bottom: 70vh;
		width: 92%;
		justify-self: center;
		align-items: center;
		justify-items: center;
		gap: 12.5px;
	}

	.shabbatRow {
		font-size: 5vw;
		font-weight: 700;
		font-family: 'Cinzel Decorative';
		color: white;
		line-height: 1.1;
	}

	.timeshow {
		text-align: center;
		font-size: 5rem;
		font-weight: 700;
		font-family: 'Cinzel Decorative';
		color: black;
		line-height: 1;
		background-color: #dfdfdf;
		padding-bottom: 1rem;
		border-radius: .5rem;
		width: max-content;
		padding-right: 2rem;
		padding-left: 2rem;
		border: 2px solid black;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
		text-transform: uppercase;
	}

	.timecalc {
		font-family: 'Cinzel';
		font-size: 3.5vw;
		grid-column: 1 / span 2;
		text-align: center;
	}

	.timecalc:not(:first-child) {
		margin-top: 3rem;
	}

	.header {
		color: white;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.2;
		font-weight: 600;
		font-size: 2rem;
	}

	.header .bi {
		float: left;
		height: 2em;
		width: 2em;
	}

	.twoLine {
		line-height: .4;
		padding-top: 1vw;
	}

	#location, #parashaBox {
		align-self: center;
		justify-self: center;
		font-family: 'Guttman Mantova', 'Barlow', 'FrankRuehl';
		font-weight: 700;
		color: white;
		text-transform: uppercase;
		text-align: center;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
		line-height: 1;
		font-size: 2.5vw;
		margin-top: 20vh;
	}

	#parashaBox {
		font-weight: 600;
		margin-top: 50vh;
		font-size: 4vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: start;
	}

	[data-haftara] {
		font-family: 'Guttman Vilna', 'Barlow';
	}

	.addOn {
		display: block;
		font-size: 2vw;
		font-family: 'Barlow';
	}

	#appAds {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 1rem;

		justify-items: center;
		align-items: center;

		width: 25%;
		margin-top: 68vh;
		align-self: center;
		justify-self: center;

		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
	}

	#appAds img {
		width: 100%;
	}

	#rahimi {
		width: 100%;
		align-self: end;
		z-index: 10;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
		margin-bottom: 1rem;
	}

	#maran {
		grid-area: 1/1;
		align-self: end;
		justify-self: end;
		transform: rotateY(180deg);
		width: 20%;
		z-index: 3;
	}

	#backToSinai {
		align-self: center;
		justify-self: center;
		margin-top: 64rem;
		width: 36%;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
	}
</style>

<style>
	.cube-wrap {
		--faceSize: 100px;

		-webkit-perspective: calc(var(--faceSize) * 4);
		-webkit-perspective-origin: 50% calc(var(--faceSize) / 2);
		-moz-perspective: calc(var(--faceSize) * 4);
		-moz-perspective-origin: 50% calc(var(--faceSize) / 2);
		-ms-perspective: calc(var(--faceSize) * 4);
		-ms-perspective-origin: 50% calc(var(--faceSize) / 2);
		perspective: calc(var(--faceSize) * 4);
		perspective-origin: 50% calc(var(--faceSize) / 2);
	}

	.cube {
		position: relative;
		width: var(--faceSize);
		margin: 0 auto;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
		transform: rotate3d(1, 1, 1, 45deg);
	}

	.cube div {
		position: absolute;
		width: var(--faceSize);
		height: var(--faceSize);
		box-shadow: inset 0 0 10px #B2FF59;
	}

	.depth div.front-pane {
		-webkit-transform: translateZ(calc(var(--faceSize) / 2));
		-moz-transform: translateZ(calc(var(--faceSize) / 2));
		-ms-transform: translateZ(calc(var(--faceSize) / 2));
		transform: translateZ(calc(var(--faceSize) / 2));
	}

	.depth div.back-pane {
		-webkit-transform: translateZ(calc(var(--faceSize) / -2)) rotateY(180deg);
		-moz-transform: translateZ(calc(var(--faceSize) / -2)) rotateY(180deg);
		-ms-transform: translateZ(calc(var(--faceSize) / -2)) rotateY(180deg);
		transform: translateZ(calc(var(--faceSize) / -2)) rotateY(180deg);
	}

	.depth div.top-pane {
		-webkit-transform: rotateX(-90deg) translateY(calc(var(--faceSize) / -2));
		-webkit-transform-origin: top center;
		-moz-transform: rotateX(-90deg) translateY(calc(var(--faceSize) / -2));
		-moz-transform-origin: top center;
		-ms-transform: rotateX(-90deg) translateY(calc(var(--faceSize) / -2));
		-ms-transform-origin: top center;
		transform: rotateX(-90deg) translateY(calc(var(--faceSize) / -2));
		transform-origin: top center;
	}

	.depth div.bottom-pane {
		-webkit-transform: rotateX(90deg) translateY(calc(var(--faceSize) / 2));
		-webkit-transform-origin: bottom center;
		-moz-transform: rotateX(90deg) translateY(calc(var(--faceSize) / 2));
		-moz-transform-origin: bottom center;
		-ms-transform: rotateX(90deg) translateY(calc(var(--faceSize) / 2));
		-ms-transform-origin: bottom center;
		transform: rotateX(90deg) translateY(calc(var(--faceSize) / 2));
		transform-origin: bottom center;
	}

	.depth div.left-pane {
		-webkit-transform: rotateY(270deg) translateX(calc(var(--faceSize) / -2));
		-webkit-transform-origin: center left;
		-moz-transform: rotateY(270deg) translateX(calc(var(--faceSize) / -2));
		-moz-transform-origin: center left;
		-ms-transform: rotateY(270deg) translateX(calc(var(--faceSize) / -2));
		-ms-transform-origin: center left;
		transform: rotateY(270deg) translateX(calc(var(--faceSize) / -2));
		transform-origin: center left;
	}

	.depth div.right-pane {
		-webkit-transform: rotateY(-270deg) translateX(calc(var(--faceSize) / 2));
		-webkit-transform-origin: top right;
		-moz-transform: rotateY(-270deg) translateX(calc(var(--faceSize) / 2));
		-moz-transform-origin: top right;
		-ms-transform: rotateY(-270deg) translateX(calc(var(--faceSize) / 2));
		-ms-transform-origin: top right;
		transform: rotateY(-270deg) translateX(calc(var(--faceSize) / 2));
		transform-origin: top right;
	}
</style>
<style>
	.faderTri {
		border: 10px solid;
		border-image-slice: 1;
		border-top: 0;
		border-right: 0;
		aspect-ratio: 1 / 1;
		transform: rotateZ(-45deg);
		border-image-source: linear-gradient(45deg, transparent 10%, #B2FF59 37%, transparent 50%);
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
		justify-self: center;
		align-self: center;
		overflow: hidden;
	}

	#bigTri {
		width: 60%;
		border-width: 15px;
		margin-top: 40rem;
		opacity: 40%;
	}

	#fullScrTri {
		width: 70%;
		margin-top: 60rem;
		border-width: 5px;
		opacity: 60%;
	}

	.cube-wrap {
		position: absolute;
	}
</style>
<style>
.shabbatTitleCore {
	grid-row: 1;
	grid-column: 1;
	--dark-gray: #555555;
	--gray: #808080;
	--light-gray: #b5a6a5;
}

.background {
  color: white;
}

.gradient-1 {
  background: linear-gradient(#000, var(--gray), var(--dark-gray), var(--light-gray), var(--dark-gray), #fff, var(--light-gray), var(--dark-gray), var(--light-gray), var(--dark-gray), #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: lighten;
}

.gradient-2 {
  background: linear-gradient(to right, #000 0%, var(--light-gray) 36%, var(--light-gray) 50%, var(--dark-gray) 56%, var(--light-gray) 60%, var(--dark-gray) 66%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: difference;
  opacity: 0.4;
}

.glow {
  color: transparent;
  text-shadow: 0px 0px 8px #000;
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  mix-blend-mode: darken;
  opacity: 0.8;
}

.glow-2 {
  color: white;
  filter: blur(50px);
  opacity: 0.5;
  mix-blend-mode: overlay;
}
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300..900&display=swap" rel="stylesheet">
<link href="/assets/fonts/subtitle/stylesheet.css" rel="stylesheet">

<div id="wrapperElement">
	<div id="gridElement"
		data-functions-backday-0="getAlotHashahar getTzetHumra"
		data-flyerType="fast"
		data-extra-locales="en"
	>
		{% for townID in site.data.multiLocationPointer.rahimi %}
		<div class="shabbatRow tableShadow timecalc"
			{% if site.data.locations[townID].elevation %}data-elevation="{{ site.data.locations[townID].elevation }}"{% endif %}
			data-lat="{{ site.data.locations[townID].lat }}" data-lng="{{ site.data.locations[townID].lng }}"
			data-timezone="{{ site.data.locations[townID].timezone }}"
			data-format="{{ site.data.locations[townID].timeFormat }}"
			{% if site.data.locations[townID].humra %}data-humra="{{ site.data.locations[townID].humra }}"{% endif %}
			{% if site.data.locations[townID].doubleLocation %}data-double-location{% endif %}>
			{%- assign check = site.data.locations[townID].flag | split:'.' | last -%}
			{% if check == "svg" %}
				<img class="imgFlag" src="{{ site.data.locations[townID].flag }}">
			{% else %}
				{{ site.data.locations[townID].flag }}
			{% endif %}
			{{ site.data.locations[townID].name }}
		</div>
		<div class="header tableShadow">Fast Starts<br>(Dawn - עלות השחר)</div>
		<div class="header tableShadow">Fast Concludes<br>(Strict Nightfall - צאת הכוכבים)</div>
		<div class="shabbatRow timeshow">Start Time</div>
		<div class="shabbatRow timeshow">End Time</div>
		{% endfor %}
	</div>
	<div id="zemanehShab">
		<div class="shabbatTitleCore background" data-gematria>צום </div>
		<div class="shabbatTitleCore glow" data-gematria>צום </div>
		<div class="shabbatTitleCore gradient-1" data-gematria>צום </div>
		<div class="shabbatTitleCore gradient-2" data-gematria>צום </div>
		<div class="shabbatTitleCore glow-2" data-gematria>צום </div>
		<div class="subtitle">Fast of <span id="calSubtitle"></span></div>
	</div>
	<div id="bigTri" class="faderTri"></div>
	<div id="fullScrTri" class="faderTri"></div>
	<img id="backToSinai" src="/assets/images/shabbat-abstract/image02.png">

	<div class="cube-wrap" style="right: 0; top: 70%;">
		<div class="cube depth">
			<div class="front-pane"></div>
			<div class="back-pane"></div>
			<div class="top-pane"></div>
			<div class="bottom-pane"></div>
			<div class="left-pane"></div>
			<div class="right-pane"></div>
		</div>
	</div>
	<div class="cube-wrap" style="left: 0; top: 90%;">
		<div class="cube depth">
			<div class="front-pane"></div>
			<div class="back-pane"></div>
			<div class="top-pane"></div>
			<div class="bottom-pane"></div>
			<div class="left-pane"></div>
			<div class="right-pane"></div>
		</div>
	</div>
	<img src="/assets/images/shabbat-abstract/r-rahimi-text.png" id="rahimi">
	<img src="/assets/images/MARAN.png" id="maran">
</div>

<script type="module" src="/assets/js/flyers/multiZman.js"></script>