.accordian summary {
	--bs-list-group-color: var(--bs-body-color);
	outline: none;
	color: var(--bs-list-group-color);
	cursor: pointer;
}

.accordian {
	box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);

	--accordian-bg: white;
	background: var(--accordian-bg);
	position: relative;
}

.accordian details {
	position: relative;
	interpolate-size: allow-keywords;
}

.accordian summary .timeDisplay {
	font-weight: bold;
	align-self: center;
}

.accordian.loading::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
	background-size: 40px 100%;
	background-repeat: no-repeat;
	background-position: left -40px top 0;
	-webkit-animation: shine 1s ease infinite;
					animation: shine 1s ease infinite;
	z-index: 2;
	opacity: .25;
}

.accordian:not(.accordianModern) details:not(:last-child),
.accordian.accordianModern details:not(:last-child) .accordianText,
.accordian.accordianModern details:not(:last-child) .timeDisplay:not(.multiZmanContainer),
.accordian.accordianModern details:not(:last-child) .timeDisplay.multiZmanContainer .subShita {
	border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

.accordian details summary::-webkit-details-marker {
	display: none;
}

.accordian details[open]:not(.noContent) {
	border-top: 1px solid black;
	box-shadow: 0 1px 6px -2px black;
	z-index: 12;
	position: relative;
}

.accordian details[open]:not(.noContent) > summary .accordianText:before {
	transform: rotate(90deg);
}

.accordian details:not(.noContent) > summary .accordianText:before {
	content: "";
	border-width: 0.4rem;
	border-style: solid;
	border-color: transparent transparent transparent var(--bs-list-group-color);
	transform: rotate(0);
	transform-origin: left center;
	transition: 0.25s transform ease;
	margin-right: 0.25rem;
	display: inline-block;
}

.accordian details.noContent > summary {
	cursor:default;
}

.accordian details.noContent > summary div,
.accordian details.noContent > summary span {
	cursor: text;
}

.accordian details.noContent > summary .accordianText {
	margin-left: 1.25rem;
	display: inline-block;
}

body[dir=rtl] details:not(.noContent) .accordian summary .accordianText:before {
	border-color: transparent var(--bs-list-group-color) transparent transparent;
	margin-right: 0;
	margin-left: 0.25rem;
	transform-origin: right center;
}

body[dir=rtl] details.noContent .accordian summary .accordianText {
	margin-left: 0;
	margin-right: 0.65rem;
}

body[dir=rtl] .accordian details[open]:not(.noContent) > summary .accordianText:before {
	transform: rotate(-90deg) translateX(3px) translateY(-3px);
}

.accordian details::details-content {
	background: white;
	overflow-y: scroll;
	transition:
		block-size .25s cubic-bezier(.4,0,.2,1),
		content-visibility .25s cubic-bezier(.4,0,.2,1) allow-discrete;
	block-size: 0;
}

.accordian .accordianContent {
	padding: 10px;
	border: 2px solid var(--bs-card-bg);
	border-top: none;
}

.accordian details[open]:not(.noContent)::details-content {
	block-size: 35vh;
}

.accordian details.smallContent[open]::details-content {
	block-size: 12.5vh;
}

.accordian .accordianContent hr:last-child {
	display: none;
}
.accordian .accordianContent:has(hr:last-child) p:nth-last-child(2) {
	padding-bottom: 0;
}

@keyframes shine {
	to {
		background-position: right -40px top 0;
	}
}

/** Fallback for old accordian */
.accordian:not(.accordianModern) summary {
	padding: .5rem .9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1.2rem;
}

/** Accordian for Zemanim Display */

.accordian.accordianModern {
	display: grid;
	grid-template-columns: 1fr auto auto;
}

.accordian.accordianModern details .accordianText {
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 1.2rem;
}

.accordianModern details, .accordianModern summary {
	display: contents;
}

.accordianModern details::details-content {
	grid-column: span 3;
}

.accordian.accordianModern details .timeDisplay:not(.multiZmanContainer),
.accordian.accordianModern details .timeDisplay.multiZmanContainer .subShita:last-child {
	padding-right: 1rem;
}

.timeDisplay, .subShita {
	display: flex;
	flex-direction: column;
	text-align: center;
	line-height: 1;
	justify-content: center;
	height: 100%;
}

@media (min-width: 992px) {
	.accordianModern .subShita {
		padding-top: .3rem;
		padding-bottom: .3rem;
	}

	.accordian:not(.accordianModern) .timeDisplay {
		width: 20ch;
	}

	.accordian:not(.accordianModern) .timeDisplay.multiZmanContainer {
		flex-direction: row;
		justify-content: center;
	}

	.accordianModern .timeDisplay:not(.multiZmanContainer) {
		grid-column: span 2;
	}

	.accordianModern .timeDisplay.multiZmanContainer {
		display: contents;
	}
	
	.subShita:not(:last-child) {
		padding-inline-end: 1ch;
	}
	.subShita.leftBorderForShita {
		padding-inline-start: 1ch;
		border-inline-start: .125ch solid var(--bs-body-color);
	}

	.accordianModern .d-lg-detailsBlend {
		display: contents !important;
	}

	.accordian:not(.accordianModern) .d-lg-detailsBlend {
		display: block !important;
	}

	dl.accordianContent {
		display: grid;
		grid-template-columns: 1fr auto;
	}

	dl.accordianContent dd {
		text-align: end;
	}
}