.list-group-item {
  --mdb-list-group-bg: #303030;
  --mdb-list-group-color: white;
}
.list-group {
  --mdb-list-group-bg: #303030;
  --mdb-list-group-color: white;
}
.card {
  --mdb-card-bg: #303030;
}

:root {
  --mdb-list-group-bg: #303030;
  --mdb-list-group-color: white;
  --mdb-list-group-bg: #303030;
  --mdb-list-group-color: white;
  --mdb-card-bg: #303030;
}

body {
  background: #212529;
}

#hd {
    background: #3b3939;/* #3b3939 is equivalent to rgb( 59, 57, 57 ) */
    color: #ffffff;
    --ind-menu-main-color: #0A7DA4;
    --ind-menu-hover-color: #48565b;
    --ind-menu-active-color: #0A7DA4;
    --ind-color-picker: #0A7DA4;
    --ind-color-bg-picker: #0A7DA4;
    --ind-color-text-picker: #0A7DA4;
    --ind-color-heading-picker: #0A7DA4;
    --ind-color-heading-picker-default: #0A7DA4;
    -webkit-tap-highlight-color: rgba(255, 244, 244, 0);
}

.main-nav__toogle span {
  background: #fff;
}

.main-nav__megamenu {
  background: #3b3939;
}

.main-nav__list li {
  color: #fff;
}

.main-nav__list li:hover,
.main-nav__list li:focus {
  background-color: #000000;
    color: #fff;
}