.list-group-item,
.list-group,
:root {
  --mdb-list-group-color: white;
}

:root {
  --mdb-card-bg: #424242;
}

.card {
  background-color: var(--mdb-card-bg);
}

.navbar {
  background-color: #303030;
}

.navbar-toggler-icon {
  filter: invert(1);
}

#logo_light {
  display: inline-block;
}

#logo_dark {
  display: none;
}

body {
  --mdb-body-bg: #212529;
}

.toast {
  --mdb-toast-bg: #303030
}

.accordian .accordianContent {
  background: #303030;
}