.list-group-item,
.list-group {
  --bs-list-group-bg: #212529;
  --bs-list-group-color: white;
  --bs-list-group-border-color: var(--bs-border-color);
}

.card {
  --bs-card-bg: #212529;
}

.accordian summary {
  --accordian-bg: #212529;
}

.modal {
  --bs-modal-bg: #212529;
}

:root {
  --bs-body-bg: #1A1D2A;
}

.navbar, #sidebar {
  background-color: #373E5C;
}

/* body {
  --mdb-body-bg: #212529;
}

.toast {
  --mdb-toast-bg: #303030
} */

.accordian .accordianContent {
  background: #303030;
}