@page {
    size: letter landscape;
    bleed: 0;
    margin: 10mm;
}

@page {
    counter-reset: footnote 0;
}

@page {
    @footnote {
        border-top: dashed black 1px;
        padding-top: 6.25px;
        float: bottom;
    }
}
 
span.footnote { 
    float: footnote; 
    footnote-policy: block;
}
 
.footnote::footnote-call {
    content: counter(footnote, decimal) " ";
    vertical-align: super;
    font-size: 0.8em;
}
 
.footnote::footnote-marker {
    font-size: 1.3em;
    color: black;
    text-align: right;
}