@page {
    size: letter landscape;
    bleed: 0;
    margin: 10mm;
}

@page {
    counter-reset: footnote 0;
}

@page {
    @footnote {
        border-top-style: dashed;
        border-top-width: 1px;
        border-top-color: black;
        padding-top: 4px;
        margin-top: 4px;
        float: bottom;
    }
}
 
span.footnote { 
    float: footnote; 
    footnote-policy: block;
}
 
.footnote::footnote-call {
    content: counter(footnote, decimal) " ";
    vertical-align: top;
    font-size: .6em;
}
 
.footnote::footnote-marker {
    font-size: 1.3em;
    text-align: right;
}