/* Floating Button */
.btn-floating,[class*=btn-outline-].btn-floating {
    --mdb-btn-border-radius: 50%;
    border-radius: var(--mdb-btn-border-radius);
    padding: 0;
    position: relative
}

.btn-floating {
    --mdb-btn-width: 2.3125rem;
    --mdb-btn-height: 2.3125rem;
    --mdb-btn-icon-width: 2.3125rem;
    --mdb-btn-icon-line-height: 2.3125rem;
    --mdb-btn-width-lg: 2.8125rem;
    --mdb-btn-height-lg: 2.8125rem;
    --mdb-btn-icon-width-lg: 2.8125rem;
    --mdb-btn-icon-line-height-lg: 2.8125rem;
    --mdb-btn-width-sm: 1.8125rem;
    --mdb-btn-height-sm: 1.8125rem;
    --mdb-btn-icon-width-sm: 1.8125rem;
    --mdb-btn-icon-line-height-sm: 1.8125rem;
    width: var(--mdb-btn-width);
    height: var(--mdb-btn-height)
}

.btn-floating .fab,.btn-floating .far,.btn-floating .fas {
    width: var(--mdb-btn-icon-width);
    line-height: var(--mdb-btn-icon-line-height)
}

.btn-floating.btn-lg,.btn-group-lg>.btn-floating.btn {
    width: var(--mdb-btn-width-lg);
    height: var(--mdb-btn-height-lg)
}

.btn-floating.btn-lg .fab,.btn-floating.btn-lg .far,.btn-floating.btn-lg .fas,.btn-group-lg>.btn-floating.btn .fab,.btn-group-lg>.btn-floating.btn .far,.btn-group-lg>.btn-floating.btn .fas {
    width: var(--mdb-btn-icon-width-lg);
    line-height: var(--mdb-btn-icon-line-height-lg)
}

.btn-floating.btn-sm,.btn-group-sm>.btn-floating.btn {
    width: var(--mdb-btn-width-sm);
    height: var(--mdb-btn-height-sm)
}

.btn-floating.btn-sm .fab,.btn-floating.btn-sm .far,.btn-floating.btn-sm .fas,.btn-group-sm>.btn-floating.btn .fab,.btn-group-sm>.btn-floating.btn .far,.btn-group-sm>.btn-floating.btn .fas {
    width: var(--mdb-btn-icon-width-sm);
    line-height: var(--mdb-btn-icon-line-height-sm)
}

[class*=btn-outline-].btn-floating {
    --mdb-btn-icon-width: 2.0625rem;
    --mdb-btn-icon-width-lg: 2.5625rem;
    --mdb-btn-icon-width-sm: 1.5625rem;
    --mdb-btn-icon-line-height: 2.0625rem;
    --mdb-btn-icon-line-height-lg: 2.5625rem;
    --mdb-btn-icon-line-height-sm: 1.5625rem
}

[class*=btn-outline-].btn-floating .fab,[class*=btn-outline-].btn-floating .far,[class*=btn-outline-].btn-floating .fas {
    width: var(--mdb-btn-icon-width);
    line-height: var(--mdb-btn-icon-line-height)
}

.btn-group-lg>[class*=btn-outline-].btn-floating.btn .fab,.btn-group-lg>[class*=btn-outline-].btn-floating.btn .far,.btn-group-lg>[class*=btn-outline-].btn-floating.btn .fas,[class*=btn-outline-].btn-floating.btn-lg .fab,[class*=btn-outline-].btn-floating.btn-lg .far,[class*=btn-outline-].btn-floating.btn-lg .fas {
    width: var(--mdb-btn-icon-width-lg);
    line-height: var(--mdb-btn-icon-line-height-lg)
}

.btn-group-sm>[class*=btn-outline-].btn-floating.btn .fab,.btn-group-sm>[class*=btn-outline-].btn-floating.btn .far,.btn-group-sm>[class*=btn-outline-].btn-floating.btn .fas,[class*=btn-outline-].btn-floating.btn-sm .fab,[class*=btn-outline-].btn-floating.btn-sm .far,[class*=btn-outline-].btn-floating.btn-sm .fas {
    width: var(--mdb-btn-icon-width-sm);
    line-height: var(--mdb-btn-icon-line-height-sm)
}

/* BTN Ripple */
.ripple-surface {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom
}

.ripple-surface-unbound {
    overflow: visible
}

.ripple-wave {
    --mdb-ripple-wave-cubicBezier: cubic-bezier(0,0,0.15,1);
    --mdb-ripple-wave-border-radius: 50%;
    --mdb-ripple-wave-opacity: 0.5;
    --mdb-ripple-wave-transform: scale(0);
    --mdb-ripple-wave-z-index: 999;
    --mdb-ripple-wave-active-transform: scale(1);
    background-image: radial-gradient(circle,rgba(0,0,0,.2) 0,rgba(0,0,0,.3) 40%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 60%,transparent 70%);
    border-radius: var(--mdb-ripple-wave-border-radius);
    opacity: var(--mdb-ripple-wave-opacity);
    pointer-events: none;
    position: absolute;
    touch-action: none;
    transform: var(--mdb-ripple-wave-transform);
    transition-property: transform,opacity;
    transition-timing-function: var(--mdb-ripple-wave-cubicBezier),var(--mdb-ripple-wave-cubicBezier);
    z-index: var(--mdb-ripple-wave-z-index)
}

.ripple-wave.active {
    transform: var(--mdb-ripple-wave-active-transform);
    opacity: 0
}

.btn .ripple-wave,.input-wrapper .ripple-wave {
    background-image: radial-gradient(circle,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.3) 40%,hsla(0,0%,100%,.4) 50%,hsla(0,0%,100%,.5) 60%,hsla(0,0%,100%,0) 70%)
}

.ripple-surface-primary .ripple-wave {
    background-image: radial-gradient(circle,rgba(59,113,202,.2) 0,rgba(59,113,202,.3) 40%,rgba(59,113,202,.4) 50%,rgba(59,113,202,.5) 60%,rgba(59,113,202,0) 70%)
}

.ripple-surface-secondary .ripple-wave {
    background-image: radial-gradient(circle,rgba(227,235,247,.2) 0,rgba(227,235,247,.3) 40%,rgba(227,235,247,.4) 50%,rgba(227,235,247,.5) 60%,rgba(227,235,247,0) 70%)
}

.ripple-surface-success .ripple-wave {
    background-image: radial-gradient(circle,rgba(20,164,77,.2) 0,rgba(20,164,77,.3) 40%,rgba(20,164,77,.4) 50%,rgba(20,164,77,.5) 60%,rgba(20,164,77,0) 70%)
}

.ripple-surface-danger .ripple-wave {
    background-image: radial-gradient(circle,rgba(220,76,100,.2) 0,rgba(220,76,100,.3) 40%,rgba(220,76,100,.4) 50%,rgba(220,76,100,.5) 60%,rgba(220,76,100,0) 70%)
}

.ripple-surface-warning .ripple-wave {
    background-image: radial-gradient(circle,rgba(228,161,27,.2) 0,rgba(228,161,27,.3) 40%,rgba(228,161,27,.4) 50%,rgba(228,161,27,.5) 60%,rgba(228,161,27,0) 70%)
}

.ripple-surface-info .ripple-wave {
    background-image: radial-gradient(circle,rgba(84,180,211,.2) 0,rgba(84,180,211,.3) 40%,rgba(84,180,211,.4) 50%,rgba(84,180,211,.5) 60%,rgba(84,180,211,0) 70%)
}

.ripple-surface-light .ripple-wave {
    background-image: radial-gradient(circle,hsla(0,0%,98.4%,.2) 0,hsla(0,0%,98.4%,.3) 40%,hsla(0,0%,98.4%,.4) 50%,hsla(0,0%,98.4%,.5) 60%,hsla(0,0%,98.4%,0) 70%)
}

.ripple-surface-dark .ripple-wave {
    background-image: radial-gradient(circle,rgba(51,45,45,.2) 0,rgba(51,45,45,.3) 40%,rgba(51,45,45,.4) 50%,rgba(51,45,45,.5) 60%,rgba(51,45,45,0) 70%)
}


.form-outline .form-control~.form-label {
    will-change: transform, color;
    -webkit-transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    transform: translateY(-.125rem);
}

.input-group-lg>.input-group-text {
    padding-right: 0;
    padding-left: 1rem;
    z-index: 2;
    border: none;
}

body[dir="rtl"] .input-group-lg>.input-group-text {
    padding-right: 1rem;
    padding-left: 0;
}