#hd {
    display: none;
}

.accordian summary {
    color: black;
    background-color: transparent;
}

.accordian summary:before {
    display: none;
}

li[zfReplace="dateContainer"] button {
    display: none;
}

.nextZman .timeDisplay::before {
    display: none;
}