html {
	scroll-behavior: smooth;
}

:root {
  --mdb-body-bg: #e5e5e5;
  --mdb-card-bg: white;
  --mdb-list-group-color: #4f4f4f;
  --mdb-list-group-border-width: 1px;
  --mdb-list-group-border-color: rgba(0,0,0,0.125);
}

body {
  min-height: 100vh;
  background-color: var(--mdb-body-bg);
}

main {
  margin-left: auto;
  margin-right: auto;
  width: clamp(16rem, 90vw, 70rem)
}

.navbar {
  background-color: white;
}

.wideView {
  grid-template-columns: 1fr;
  display: grid;
  text-align: center;
}

.wideView > * {
  grid-row: 1;
  padding: 10px;
}

.wideView > *:not(:last-child) {
  border-right:1px solid black;
}

body.lang-hb .lang:not(.lang-hb) {
  display: none;
}

body.lang-en-et .lang:not(.lang-et) {
  display: none;
}

body.lang-en .lang:not(.lang-en) {
  display: none;
}

@media (min-width: 992px) {
  #wideGrid {
    display: grid;
    grid-template-areas:
      "crucial zmanim"
      "extra zmanim";
    grid-template-rows: auto auto;
    grid-template-columns: 40% 60%;
    gap: 1em;
  }
  
  #wideGrid > #generic {
    grid-area: crucial;
  }
  
  #wideGrid > #zmanim {
    grid-area: zmanim;
  }
  
  #wideGrid > #special {
    grid-area: extra;
  }
}

.nextZman .timeDisplay::before {
  content: "> "
}

#logo_light {
  display: none;
}

.navbar-brand #logo_light,
.navbar-brand #logo_dark {
  position: absolute;
  top: 0;
}

body #bannerText {
  padding-left: 4.25rem;
}

body[dir="rtl"] #bannerText {
  padding-left: 0;
  padding-right: 4.25rem;
}

.card>.list-group {
  padding-left: 0;
}

#ShaahZmanit .list-group-item {
  display: flex;
  justify-content: space-between;
}

#ShaahZmanit dd {
  margin: 0;
}