html {
	scroll-behavior: smooth;
}

:root, [data-bs-theme=light] {
	--bs-body-bg: #e5e5e5;
}

.modal {
	--bs-modal-bg: white;
}

.card {
	--mdb-card-box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);
	--bs-card-bg: white;
	box-shadow: var(--mdb-card-box-shadow);
}

.list-group {
	--bs-list-group-bg: white;
	--bs-list-group-color: #4f4f4f;
	--bs-list-group-border-width: 1px;
	--bs-list-group-border-color: rgba(0,0,0,0.125);
}

.modal-content {
	box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

body {
	min-height: 100vh;
}

.maxWidthContainer {
	margin-left: auto;
	margin-right: auto;
	width: clamp(16rem, 90vw, 80rem)
}

.navbar {
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.05);

	-webkit-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
	background-color: transparent;
}

.navbar:not(.navbar-landing-expand) {
	background-color: #f8f9fa;
}

@media (min-width: 992px) {
	#wideGrid {
		display: grid;
		grid-template-areas:
			"crucial zmanim"
			"extra zmanim";
		grid-template-rows: auto auto;
		grid-template-columns: 40% 60%;
		align-items: center;
	}
	
	#wideGrid > #generic {
		grid-area: crucial;
		margin-inline-end: .5rem;
		margin-bottom: .5rem;
	}
	
	#wideGrid > #zmanim {
		grid-area: zmanim;
		margin-inline-start: .5rem;
	}
	
	#wideGrid > #special {
		grid-area: extra;
		margin-inline-end: .5rem;
		margin-top: .5rem;
	}

	.timeDisplay {
		width: 20ch;
		text-align: center;
		display: flex;
		flex-direction: column;
		line-height: 1;
		justify-content: center;
	}

	#manualContainer {
		display: grid;
		grid-template-columns: auto 1fr auto;
	}
}

.upNextText {
	font-size: .6em;
}

.card>.list-group {
	padding-left: 0;
}

.calBox {
	aspect-ratio: 1/1;
	flex: 1 1;
}

.btn-primary {
	--bs-btn-bg: #3b71ca;
}

#logoNavbar {
	height: 3rem;
}

#sidebarLogo {
	display: block;
	background-image: url(/assets/images/icon-bg.png);
	background-position: center;
	background-size: 100%;
	padding: .25rem;
	filter: drop-shadow(0px 2px 1px rgba(0,0,0,.7));
}

#sidebarLogo img {
	transform: scale(1); /* you need a scale here to allow it to transition in both directions */
	transition: 0.15s all ease;
}

#sidebarLogo:hover img {
	transform: scale(1.125);
}

#sidebar {
	width: 4.5rem;
	box-shadow: 3px 0 5px 0 rgba(0,0,0,.5);
}

@media (max-width: 991.98px) {
	.form-outline .form-control~.form-notch > * {
		border-bottom: none !important;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
}

#dateBox {
	text-align: center;
}

@media screen {
	#dateBox {
		border-left: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
		border-right: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
		padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
	}

	#cardDateContainer {
		padding: 0;
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
	}
}

#cardDateContainer > button {
	background: none;
	border: none;
	height: 100%;
	grid-row: 1 / span 2; /* for mobile */
}

#cardDateContainer .inputRow {
	font-family: var(--bs-body-font-family), ForkAwesome;
	border-radius: 0;
}

@media (max-width: 767.98px) {
	h5[data-zfreplace="otherDate"]::before {
		content: " • ";
	}
}

.form-outline .form-control~.form-label {
	will-change: transform, color;
	-webkit-transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
					transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 2;
	transform: translateY(-.125rem);
}

.handleSvg svg {
	width: 1em;
	height: 1em;
	vertical-align: unset;
}

.form-outline .form-control.is-warning~.form-notch div,
.form-outline .form-control.is-warning:focus~.form-notch div {
	border-color: rgb(var(--bs-warning-rgb));
}

.form-outline .form-control.is-warning:focus~.form-notch .form-notch-leading {
	box-shadow: -1px 0 rgb(var(--bs-warning-rgb)), 0 1px rgb(var(--bs-warning-rgb)), 0 -1px rgb(var(--bs-warning-rgb));
}

.form-outline .form-control.is-warning:focus~.form-notch .form-notch-middle {
	box-shadow: 0 1px rgb(var(--bs-warning-rgb));
}

.form-outline .form-control.is-warning:focus~.form-notch .form-notch-trailing {
	box-shadow: 1px 0 rgb(var(--bs-warning-rgb)), 0 -1px rgb(var(--bs-warning-rgb)), 0 1px rgb(var(--bs-warning-rgb));
}

.form-outline .form-control.is-warning~.form-label {
		color: rgb(var(--bs-warning-rgb));
}

#manualLocationButton {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: .25rem;
	border-top-right-radius: .25rem;
}

:dir(rtl) #manualLocationButton {
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group-lg>.btn, .input-group-lg>.form-control, .input-group-lg>.form-select, .input-group-lg>.input-group-text {
	border-radius: .25rem;
}

li[data-zfFind="FastDays"] h5 {
	margin-bottom: 0;
}

#locationModal img {
	max-height: none;
}

.subShita {
	/* d-flex flex-column text-center ps-1 lh-1*/
	display: flex;
	flex-direction: column;
	text-align: center;
	line-height: 1;
}

.subShita:not(:last-child) {
	padding-inline-end: 1ch;
}
.subShita.leftBorderForShita {
	padding-inline-start: 1ch;
	border-inline-start: .125ch solid var(--bs-body-color);
}

#gctnd {
	position: relative;
}

#gctnd.sbmitl {
	display: contents;
	color: grey;
}

#gctnd.sbmitl::before {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
	border-radius: 0.375rem;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}