---
title: Rabbi Ovadia Yosef Zmanim Calendar
permalink: /calendar
accordian: true
breakout: true
---

<div id="wideGrid" class="maxWidthContainer">
  <div id="generic">
    <div class="card mb-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" zfReplace="Parasha"></li>
        <li class="list-group-item" zfFind="dateContainer">
          <div class="d-flex" style="align-items: center;">
            <div><button dateAlter="-1" class="btn btn-primary btn-floating">
              <span class="lang lang-hb"><i class="fa fa-arrow-right"></i></span>
  				    <span class="lang lang-et"><i class="fa fa-arrow-left"></i></span>
	  		    	<span class="lang lang-en"><i class="fa fa-arrow-left"></i></span>
            </button></div>
            <div style="flex: 1; text-align: center;">
              <h6 zfReplace="Day"></h6>
              <h2 zfReplace="primaryDate"></h2>
              <h5 zfReplace="secondaryDate" class="d-inline-block"></h5>
              <input type="button" value="&#xf073;" class="fa btn btn-primary btn-floating">
              <h5 zfReplace="otherDate" class="d-inline-block"></h5>
            </div>
            <div><button dateAlter="1" class="btn btn-primary btn-floating">
              <span class="lang lang-hb"><i class="fa fa-arrow-left"></i></span>
  				    <span class="lang lang-et"><i class="fa fa-arrow-right"></i></span>
	  		    	<span class="lang lang-en"><i class="fa fa-arrow-right"></i></span>
            </button></div>
          </div>
        </li>
        <li class="list-group-item" zfReplace="LocationName"></li>
        <li class="list-group-item" zfFind="DafYomi">
          <h6 class="lang lang-hb">הדף של היום</h6>
          <h6 class="lang lang-et">Today's Daf</h6>
          <h6 class="lang lang-en">Today's Talmud Page</h6>
          <dl class="mb-0">
            <div class="d-flex justify-content-between">
              <dt class="lang lang-hb">בבלי</dt>
              <dt class="lang lang-et">Bavli</dt>
              <dt class="lang lang-en">Babylon Tractate</dt>
              <dd class="m-0" zfReplace="dafBavli"></dd>
            </div>
            <div class="d-flex justify-content-between">
              <dt class="lang lang-hb">ירושלמי</dt>
              <dt class="lang lang-et">Yerushalmi</dt>
              <dt class="lang lang-en">Jerusalemite Tractate</dt>
              <dd class="m-0" zfReplace="DafYerushalmi"></dd>
            </div>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  <div id="zmanim">
    <h3 class="text-center">
      <span zfFind="luachOhrHachaim">
        <span class="lang lang-hb">לוח אור החיים</span>
        <span class="lang lang-et">Luach Ohr Hachaim</span>
        <span class="lang lang-en">Ohr Hachaim Calendar</span>
      </span>
      <span zfFind="luachAmudehHoraah">
        <span class="lang lang-hb">לוח עמודי הוראה</span>
        <span class="lang lang-et">Luach Amudeh Hora'ah</span>
        <span class="lang lang-en">Amudeh Hora'ah Calendar</span>
      </span>
    </h3>
    <section class="accordian" calendarFormatter>
      {% for item in site.data.zmanim %}
        <details
          zmanid="{{ item.id }}"
          {% if item.timeGetter %}timeGetter="{{ item.timeGetter }}"{% endif %}
          {% if item.attributes.luachInclusive %}luachInclusive="{{ item.attributes.luachInclusive }}"{% endif %}
          {% if item.attributes.yomTovInclusive %}yomTovInclusive="{{ item.attributes.yomTovInclusive }}"{% endif %}
          {% if item.attributes.condition %}condition="{{ item.attributes.condition }}"{% endif %}
        >
          <summary>
            <span class="lang lang-hb">{{ item.names.hb }}</span>
            <span class="lang lang-et">{{ item.names.et }}</span>
            <span class="lang lang-en">{{ item.names.en }}</span>
            <span class="timeDisplay ms-auto"></span>
          </summary>
          <div class="accordianContent">{% capture my_include %}{% if item.descriptionInclude %}{% include {{ item.descriptionInclude }} %}{% else %}{{ item.description }}{% endif %}{% endcapture %}{{ my_include | markdownify }}</div>
        </details>
      {% endfor %}
    </section>
  </div>
  <div id="special">
    <div class="card mb-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" zfReplace="SpecialDay"></li>
        <li class="list-group-item" zfFind="MourningPeriod">
          <div zfFind="SefirathHaomer">
            <h5>
              <span class="lang lang-hb">היום <span zfReplace="hbOmerDate"></span> לעומר</span>
              <span class="lang lang-et">Today is <span zfReplace="etNumOmerCount"></span> of the Omer</span>
              <span class="lang lang-en"><span zfReplace="enOrdOmerCount"></span> day of the Omer</span>
            </h5>
            <p class="lang lang-hb">שהם <span zfReplace="hbOmerDays"></span></p>
            <p class="lang lang-et">which <span zfReplace="etOmer"></span></p>
            <p class="lang lang-en" zfReplace="enOmer"></p>
            <hr zfFind="omerRules">
          </div>
          <div zfFind="ThreeWeeksHeader">
            <h5>
              <span class="lang lang-hb">
                <span zfFind="threeWeeks">שלושה שבועות</span>
                <span zfFind="nineDays">תשעה ימים</span>
                <span zfFind="weekOf">שבוע שחל בו</span>
              </span>
              <span class="lang lang-et">
                <span zfFind="threeWeeks">Three Weeks</span>
                <span zfFind="nineDays">Nine Days</span>
                <span zfFind="weekOf">The week of Tisha Beav</span>
              </span>
              <span class="lang lang-en">
                <span zfFind="threeWeeks">Three Weeks</span>
                <span zfFind="nineDays">Nine Days</span>
                <span zfFind="weekOf">The week of Tisha Beav</span>
              </span>
            </h5>
          </div>
          <ul>
            <li zfFind="haircuts">
              <span class="lang lang-hb">לא לקחת תשפורת</span>
              <span class="lang lang-et">No taking haircuts</span>
              <span class="lang lang-en">No taking haircuts</span>
            </li>
            <li zfFind="shechiyanu">
              <span class="lang lang-hb">לא לברך שהכינו</span>
              <span class="lang lang-et">No blessings of shechiyanu</span>
              <span class="lang lang-en">No blessings of shechiyanu</span>
            </li>
            <li zfFind="music">
              <span class="lang lang-hb">לא לשמוע למוזיקה</span>
              <span class="lang lang-et">No listening to music</span>
              <span class="lang lang-en">No listening to music</span>
            </li>
            <li zfFind="wedding">
              <span class="lang lang-hb">לא לתחתן</span>
              <span class="lang lang-et">No weddings</span>
              <span class="lang lang-en">No weddings</span>
            </li>
            <li zfFind="purchaseClothing">
              <span class="lang lang-hb">אסור לקנות בגדים חדשים</span>
              <span class="lang lang-et">No purchasing new clothing</span>
              <span class="lang lang-en">No purchasing new clothing</span>
            </li>
            <li zfFind="swimming">
              <span class="lang lang-hb">השחייה אסורה</span>
              <span class="lang lang-et">No swimming</span>
              <span class="lang lang-en">No swimming</span>
            </li>
            <li zfFind="construction">
              <span class="lang lang-hb">אין בנייה</span>
              <span class="lang lang-et">No construction</span>
              <span class="lang lang-en">No construction</span>
            </li>
            <li zfFind="meat">
              <span class="lang lang-hb">לא לאכול בשר ולשתות יין</span>
              <span class="lang lang-et">No consumption of meat or wine</span>
              <span class="lang lang-en">No consumption of meat or wine</span>
            </li>
            <li zfFind="showering">
              <span class="lang lang-hb">אין להתקלח עם מים חמים</span>
              <span class="lang lang-et">No showering with hot water</span>
              <span class="lang lang-en">No showering with hot water</span>
            </li>
            <li zfFind="laundry">
              <span class="lang lang-hb">אין כביסה או לבישת בגדים טריים</span>
              <span class="lang lang-et">No laundry or wearing freshly laundered clothing</span>
              <span class="lang lang-en">No laundry or wearing freshly laundered clothing</span>
            </li>
            <li zfFind="wearingClothing">
              <span class="lang lang-hb">לא ללבוש בגדים חדשים</span>
              <span class="lang lang-et">No wearing new clothing</span>
              <span class="lang lang-en">No wearing new clothing</span>
            </li>
          </ul>
        </li>
        <li class="list-group-item" zfReplace="Tachanun"></li>
        <li class="list-group-item" zfFind="Chamah">
          <span class="lang lang-hb">ברכת החמה!</span>
          <span class="lang lang-et">Birchath Hachama!</span>
          <span class="lang lang-en">Blessing of the sun!</span>
        </li>
        <li class="list-group-item" zfFind="BirchatHalevana">
          <span class="lang lang-hb">ברכת הלבנה!</span>
          <span class="lang lang-et">Birchath Halevana!</span>
          <span class="lang lang-en">Blessing of the moon!</span>
        </li>
        <li class="list-group-item" zfReplace="Hallel"></li>
        <li class="list-group-item" zfReplace="Ulchaparat"></li>
        <li class="list-group-item" zfReplace="SeasonalPrayers"></li>
        <li class="list-group-item" zfFind="Tekufa">
          <span class="lang lang-hb">תקופה <span zfReplace="tekufaName-hb"></span> היום בשעה <span zfReplace="tekufaTime"></span></span>
          <span class="lang lang-et">Tekufa <span zfReplace="tekufaName-en"></span> is today at <span zfReplace="tekufaTime"></span></span>
          <span class="lang lang-en">The <span zfReplace="tekufaName-en"></span> season is today at <span zfReplace="tekufaTime"></span></span>
        </li>
      </ul>
    </div>
    <div class="card mb-2" zfReplace="ShaahZmanit">
      <div class="card-header">
        <h5 class="mb-0">
          <span class="lang lang-hb">שעה זמנית</span>
          <span class="lang lang-et">Sha'ah Zmanith</span>
          <span class="lang lang-en">Seasonal Hour</span>
        </h5>
      </div>
      <dl class="list-group list-group-flush">
        <div class="list-group-item d-flex justify-content-between">
          <dt class="lang lang-hb">גר"א (װילנער גאון)</dt>
          <dt class="lang lang-et">GR"A (Vilna Gaon)</dt>
          <dt class="lang lang-en">GR"A (Vilna Gaon)</dt>
          <dd class="m-0" zfReplace="graShaahZmanit"></dd>
        </div>
        <div class="list-group-item d-flex justify-content-between">
          <dt class="lang lang-hb">מג"א (מגן אברהם)</dt>
          <dt class="lang lang-et">MG"A (Maghen Avraham)</dt>
          <dt class="lang lang-en">MG"A (Maghen Avraham)</dt>
          <dd class="m-0" zfReplace="mgaShaahZmanit"></dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<!--
<div id="tvLayout">
    <section class="wideView" calendarFormatter>
      {% for item in site.data.zmanim %}
        <article
          zmanid="{{ item.id }}"
          {% if item.timeGetter %}timeGetter="{{ item.timeGetter }}"{% endif %}
          {% if item.attributes.luachInclusive %}luachInclusive="{{ item.attributes.luachInclusive }}"{% endif %}
          {% if item.attributes.yomTovInclusive %}yomTovInclusive="{{ item.attributes.yomTovInclusive }}"{% endif %}
          {% if item.attributes.condition %}condition="{{ item.attributes.condition }}"{% endif %}
        >
          <span class="lang lang-hb">{{ item.names.hb }}</span>
          <span class="lang lang-et">{{ item.names.et }}</span>
          <span class="lang lang-en">{{ item.names.en }}</span>
          <span class="timeDisplay"></span>
        </article>
      {% endfor %}
    </section>
</div>
-->


<noscript>This website requires JavaScript to run</noscript>
<script src="/assets/libraries/flexcal/jquery-3.7.0.min.js" type="text/javascript"></script>
<script src="/assets/libraries/flexcal/jquery-ui.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/assets/libraries/flexcal/flexcal.css" />
<link rel="stylesheet" href="/assets/libraries/flexcal/jquery-ui.min.css" />
<script src="/assets/libraries/flexcal/jquery.textpopup.js" type="text/javascript"></script>
<script src="/assets/libraries/flexcal/jquery.flexcal.js"></script>
<!--All these files just to include flexcal.js for a jewish calendar popup widget-->

<script>
  document.addEventListener("DOMContentLoaded", () => {
    for (const dateContainer of document.querySelectorAll('[zfFind="dateContainer"]'))
      $(dateContainer.getElementsByTagName("input")[0]).flexcal({
        calendars: ["en", "jewish", "he-jewish"],
        selected: "en",
      });
  });
</script>

<!--
  <script src="/assets/js/libraries/kosher-zmanim.min.js"></script> 
<script src="/assets/js/libraries/luxon.min.js"></script>
<script src="/assets/js/ROYZmanim.js" type="text/javascript"></script>
<script src="/assets/js/WebsiteCalendar.js" type="text/javascript"></script>
<script src="/assets/js/libraries/decimal.js" type="text/javascript"></script>
<script src="/assets/js/libraries/n2words.js" type="text/javascript"></script>
<script src="/assets/js/zmanimListUpdater.js" type="text/javascript"></script>
-->

<script src="/assets/js/libraries/luxon.min.js"></script>
<script src="/assets/js/libraries/decimal.js" type="text/javascript"></script>
<script src="/assets/js/zmanimListUpdater.js" type="module"></script>
