---
title: Rabbi Ovadia Yosef Zmanim Calendar
permalink: /
---

<div class="modal" style="position: static; display: block; height: auto;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Set your location! | בחר את המיקום שלך!</h5>
      </div>
      <div class="modal-body">
        {% capture hebrewWelcomeText %}{% include homepage/hebrew.md %}{% endcapture %}
        {% capture englishWelcomeText %}{% include homepage/english.md %}{% endcapture %}
        <span class="lang lang-hb">{{ hebrewWelcomeText | markdownify }}</span>
        <span class="lang lang-et">{{ englishWelcomeText | markdownify }}</span>
        <span class="lang lang-en">{{ englishWelcomeText | markdownify }}</span>

        <p class="border" id="error" style="display: none">
          <!--Hidden until shown-->
        </p>
        <div id="offlineText" style="display: none;">Seems like you're temporarily disconnected! The search bar needs an internet connection to function.</div>
        <div id="notEnoughChar" style="display: none; color: var(--bs-warning-text-emphasis);">Not enough characters. Please try again with a minimum of three characters</div>
        <div class="input-group input-group-lg form-outline mb-0 mb-lg-2" data-mdb-input-init>
          <span class="input-group-text" id="inputGroup-sizing-lg">
            <i class="fa fa-search" aria-hidden="true" onclick="updateList(event)"></i>
            <div class="spinner-border" style="display: none;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <i class="fa fa-times-circle" style="display: none" aria-hidden="true"></i>
          </span>
          <input list="locationNames" autocomplete="postal-code" type="search" id="Main" onkeyup="updateList(event)" class="form-control form-control-lg" style="z-index: 2" />
          <datalist id="locationNames"></datalist>
          <label class="form-label" for="form1">Insert location name/ZIP code (English only)</label>
          <button type="button" data-mdb-ripple-init class="btn btn-success d-none d-lg-block" onclick="getLocation()">
            <i class="fa fa-map-marker"></i>
          </button>
          <button type="button" data-mdb-ripple-init class="btn btn-primary d-none d-lg-block" id="manualLocationButton" onclick="showManualLocationSettings()" style=" padding-right: .9rem; padding-left: .9rem;">
            <i class="fa fa-caret-square-o-down"></i>
          </button>
        </div>
        <button type="button" data-mdb-ripple-init class="btn btn-success d-lg-none" onclick="getLocation()" style="width: 100%; margin-left: -1px; border-radius: 0; border-left: 1px solid hsla(0,0%,100%,.7); border-right: 1px solid hsla(0,0%,100%,.7)">
          <i class="fa fa-map-marker"></i> Use my device location
        </button>
        <button type="button" data-mdb-ripple-init class="btn btn-primary mb-2 d-lg-none" onclick="showManualLocationSettings()" style="width: 100%; margin-left: -1px; border-radius: 0 0 .25rem .25rem; border-left: 1px solid hsla(0,0%,100%,.7); border: 1px solid hsla(0,0%,100%,.7); border-top: none;">
          <i class="fa fa-caret-square-o-down"></i> Advanced Location Manager
        </button>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked/>
          <label class="form-check-label" for="flexRadioDefault2">Adjusted Minutes based on Location (לוח עמודי הוראה) - Disabled in Israel</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"/>
          <label class="form-check-label" for="flexRadioDefault1">Fixed Israel Minutes (לוח אור החיים)</label>
        </div>

        <p class="border" id="manualLocation" style="display: none">
          <!--Hidden until shown-->
          Enter your location manually here: <br />
          <input
          type="text"
          id="cityInput"
          placeholder="City Name? (optional)"
          /><br /><br />
          <input type="text" id="latInput" placeholder="Latitude?" /><br /><br />
          <input type="text" id="longInput" placeholder="Longitude?" /><br /><br />
          <input
          type="text"
          id="elevationInput"
          placeholder="Elevation in meters? (optional)"
          /><br /><br />
          Timezone?
          <select id="timezoneInput"></select
          ><br /><br />
          <button class="button-18" onclick="manualLocationSubmit()">Submit</button>
        </p>
      </div>
    </div>
  </div>
</div>

{% include toasts/failToast.html toastId="inaccessibleToast" errorText="Location inaccessible. Please try again!" %}
{% include toasts/failToast.html toastId="zipToast" errorText="Multiple ZIP codes coordinates detected. Please use Location Name instead." %}

<script src="/assets/js/location.js" type="text/javascript"></script>