---
title: Rabbi Ovadia Yosef Zmanim Calendar
permalink: /print-year
accordian: true
chaiTable: true
layout: nothing
---

<noscript>
	<h1>This site requires JavaScript to function</h1>
	<p>However, you are free to look at descriptions</p>
</noscript>

<style>
	.tableGrid {
		width: 100%;
		display: grid;
		text-align: center;
		grid-auto-columns: 1fr;
		font-size: .6em;
		page-break-after: always;
	}

	.tableCell {
		align-content: center;
	}

	.tableHeader {
		font-weight: bold;
		padding-right: .125em;
		padding-left: .125em;
	}

	[data-zyHeader] {
		text-align: center;
		line-height: 1;
	}

	[data-zyHeader]>*:not(h3) {
		font-family: 'Guttman Mantova-Decor', 'Javar';
		margin-bottom: 0;
	}
</style>

<div data-zyHeader>
	<h1>זמני יוסף</h1>
	<h6 style="font-size: .5em;">Rabbi Ovadiah Yosef Calendar</h6>
	<h3>Current Location: </h3>
</div>

<div class="tableGrid" data-zyTemplate>
	<div class="tableHeader" data-zyData="special" style="grid-row: 1 / span 2;"></div>
	<div class="tableHeader" data-zyData="date" style="grid-row: 1 / span 2;"></div>
	{% for item in site.data.printOut %}
	{% if item.shitot %}
	<div class="tableHeader" style="grid-column-end: span 2;">
		<span class="lang lang-hb">{{ item.names.hb }}</span>
		<span class="lang lang-et">{{ item.names.et }}</span>
		<span class="lang lang-en">{{ item.names.en }}</span>
	</div>
	{% for shita in item.shitot %}
	<div class="tableHeader" data-zyData="{{ shita.timeGetter }}" style="grid-row: 2;">
		<span class="lang lang-hb">{{ shita.names.hb }}</span>
		<span class="lang lang-et">{{ shita.names.et }}</span>
		<span class="lang lang-en">{{ shita.names.en }}</span>
	</div>
	{% endfor %}
	{% else %}
	<div class="tableHeader" style="grid-row: 1 / span 2;" data-zyData="{{ item.timeGetter }}">
		<span class="lang lang-hb">{{ item.names.hb }}</span>
		<span class="lang lang-et">{{ item.names.et }}</span>
		<span class="lang lang-en">{{ item.names.en }}</span>
	</div>
	{% endif %}
	{% endfor %}
</div>

<script src="/assets/js/print-export.js" type="module"></script>