---
title: Shabbat World Times
permalink: /shabbat
breakout: true
---

<div style="width: 100%; padding: 5vw; background: #1E3062">
<div style="display: grid; grid-template-columns: 1fr auto auto;">
    <div style="grid-column: 1/1; font-weight: bold; padding: 10px;">Location</div>
    <div style="grid-column: 2/2; font-weight: bold; padding: 10px;">Candle Lighting</div>
    <div style="grid-column: 3/3; font-weight: bold; padding: 10px;">Havdalah</div>
    {% for item in site.data.commonLocations %}
        <div style='font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;'>{{ item.flag }} {{ item.name }}</div>
        <div style="text-align: center;" {% if item.elevation %}data-elevation="{{ item.elevation }}"{% endif %} data-lat="{{ item.lat }}" data-lng="{{ item.lng }}" data-timezone="{{ item.timezone }}" class="timecalc start">Start Time</div>
        <div style="text-align: center;" {% if item.elevation %}data-elevation="{{ item.elevation }}"{% endif %} data-lat="{{ item.lat }}" data-lng="{{ item.lng }}" data-timezone="{{ item.timezone }}" class="timecalc end">End Time</div>
    {% endfor %}
</div>
</div>

<script type="module" src="/assets/js/shabbat.js"></script>