---
title: Shabbat Rahimi Times
permalink: /shabbat-design/rahimi
breakout: true
website: true
---

<style>
	#gne {
		height: 135px;
		justify-self: start;
		align-self: start;
		margin-top: 1.5rem;
		margin-left: 1.5rem;
		filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 1));
	}

	.maxWidthContainer {
		width: 90rem;
		font-family: 'Neutro';
		color: #30344F;
	}

	#sidebar, .navbar {
		display: none !important;
	}

	#wrapperElement {
		width: 100%;
		aspect-ratio: 1/1.5;

		position: relative;
		display: grid;

		background-image: linear-gradient(to bottom, transparent 60%, #1f1f1f 70%), linear-gradient(45deg, rgba(4,4,6,1) 0%, rgba(86,97,145,1) 100%);
		background-size: cover;

		overflow: hidden;
	}

	#zyTrapezoid {
		justify-self: center;
		align-self: start;
		width: 56.5%;
		border-top: 170px solid #12141e;
		border-left: 115px solid transparent;
		border-right: 115px solid transparent;
		height: 0;
	}

	#wrapperElement > *:not(.lechaDodi) {
		grid-area: 1/1;
	}

	.footerBold {
		font-weight: 700;
	}

	#maran {
		grid-area: 1/1;
		align-self: end;
		justify-self: end;
		transform: rotateY(180deg);
		width: 20%;
		z-index: 3;
		margin-bottom: -3rem;
	}

	#ryy {
		grid-area: 1/1;
		align-self: end;
		justify-self: start;
		width: 30%;
		z-index: 3;
	}

	.lechaDodi {
		position: absolute;
		transform: rotateZ(7deg);
		color: #F6E3A9;
		font-size: 3vw;
		text-align: center;
		font-family: 'Guttman Mantova';
		line-height: 1;
	}

	#lechaDodi {
		top: 24.5vw;
		right: 4vw;
	}

	#likratKalah {
		top: 27.375vw;
		right: 6.75vw;
	}

	#pnehShabbathNekabelah {
		top: 31.5vw;
		right: 2.5vw;
	}

	#zemanehShab {
		align-self: start;
		justify-self: start;
		font-family: 'Barlow';
		font-size: 14.25vw;
		font-weight: 700;
		font-style: italic;
		color: transparent;
		background: linear-gradient(69deg, rgba(215,185,97,1) 37%, rgba(242,231,167,1) 50%, rgba(215,185,97,1) 62%);
		-webkit-background-clip: text;
		line-height: .85;
		text-transform: uppercase;
		margin-top: 12vw;
		margin-left: 2.5vw;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
	}

	#gridElement {
		top: 43vw;
		grid-template-columns: 1fr .75fr .75fr .75fr;
		display: grid;
		left: 2.5vw;
		right: 2.5vw;
		position: absolute;
		z-index: 5;
	}

	#shabbatCandles {
		align-self: end;
		justify-self: center;
		width: 60%;
		right:0;
		margin-bottom: 5rem;
		z-index: 1;
	}

	#bottomWave {
		align-self: end;
		width: 125%;
		z-index: 2;
		transform: rotateY(180deg) scaleY(.6);
		margin-bottom: -3rem;
	}

	.timeshow {
		text-align: center;
		z-index: 5;
	}

	.shabbatRow {
		margin-top: .3vw;
		margin-bottom: .3vw;
		padding-top: .5vw;
		padding-bottom: .5vw;
		font-size: 3vw;
		font-weight: 700;
	}

	.timecalc {
		background-color: #F1E79F;
		font-weight: 700;
		padding-left: 0.5vw;
		padding-right: 1vw;
		text-transform: uppercase;
		border-right: .25vw solid black;
		font-size: 2.75vw;
	}

	.shabbatRowBg {
		background: linear-gradient(90deg, rgba(197,172,90,1) 0%, rgba(235,214,149,1) 100%);
		grid-column: 2 / span 3; 
		margin-top: .3vw;
		margin-bottom: .3vw;
		z-index: 2;
	}

	.header {
		padding: 0.5vw;
		background: #D9BB65;
		margin-left: .6vw;
		margin-right: .6vw;
		color: black;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.2;
		font-weight: 600;
		font-size: 1.8em;
	}

	.header .bi {
		float: left;
		height: 2em;
		width: 2em;
	}

	.tableShadow {
		box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.25);
		-webkit-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.25);
	}

	.shabBorder:not(:nth-last-child(2)) {
		border-right: .25vw solid black;
	}

	.sml {
		font-size: 15px;
	}

	#notchLogo {
		justify-self: center;
		align-self: start;
		width: 42.5%;
		margin-top: 1rem;
	}

	#prettyLDSurround {
		justify-self: end;
		align-self: start;
		margin-top: 12.5%;
		width: 27.5%;
	}

	#bsD {
		font-family: "Narkisim";
		justify-self: end;
		line-height: 1;
		padding-right: 4.5rem;
		color: #FFF2B3;
		font-size: 6rem;
		padding-top: 3rem;
		align-self: start;
	}

	.shabbatTitleCore {
		align-self: start;
		justify-self: start;
		font-family: 'Barlow', 'FrankRuehl';
		font-weight: 700;
		color: white;
		text-transform: uppercase;
		width: 959px;
		text-align: center;
		margin-left: 2.5vw;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
		line-height: 1;
		margin-top: 36vw;
		font-size: 5vw;
	}

	#location {
		align-self: center;
		justify-self: center;
		font-family: 'Barlow', 'FrankRuehl';
		font-weight: 700;
		color: white;
		text-align: center;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
		line-height: 1;
		font-size: 2.5vw;
		margin-top: 27rem;
	}

	#templateAd {
		align-self: center;
		justify-self: start;
		border-radius: 50%;
		margin-top: 75%;
		margin-left: 5%;
		width: 25%;
		z-index: 10;
	}

	#advertFooter {
		justify-self: left;
		text-align: left;
		padding-left: 1rem;
		padding-bottom: 1rem;
		font-size: 2.25rem;
		font-weight: 600;
		line-height: 1.1;
		z-index: 3;
		align-self: end;
	}

	#sourcesFooter {
		font-size: 1.5em;
	}
	#sourcesFooter ul {
		line-height: 1.25;
		margin-bottom: 0;
	}

	#credits {
		font-size: 2.125em;
		text-align: right;
		line-height: 1.25;
		font-weight: 600;
		text-transform: uppercase;
		font-style: italic;
	}

	#documentClosure {
		height: 9rem;
		align-self: end;
		background: linear-gradient(to right, rgba(4,4,6,1) 0%, #24293D 100%);
		color: white;
		display: flex;
		justify-content: space-between;
		padding: .5rem 1rem;
		align-content: end;
	}

	#rahimi {
		align-self: end;
		justify-self: center;
		margin-bottom: 9rem;
		width: 90%;
		z-index: 5;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
	}

	.faderTri {
		border: 10px solid;
		border-image-slice: 1;
		border-top: 0;
		border-right: 0;
		aspect-ratio: 1 / 1;
		transform: rotateZ(-45deg);
		border-image-source: linear-gradient(45deg, transparent 10%, #B2FF59 37%, transparent 50%);
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
		justify-self: center;
		align-self: center;
		overflow: hidden;
	}

	#bigTri {
		width: 60%;
		border-width: 15px;
		margin-top: 20rem;
		opacity: 40%;
	}

	#fullScrTri {
		width: 70%;
		margin-top: 40rem;
		border-width: 5px;
		opacity: 60%;
	}

	.cube-wrap {
		position: absolute;
	}

	#appBar {
		padding-top: 1.2rem;
		display: flex;
		justify-content: center;
		width: 40%;
		margin-left: 50%;
		transform: translateX(-50%);
		align-items: center;
	}

	#appBar > * {
		flex: 1 1;
	}

	#appBar > a > img {
		width: 90%;
	}
</style>
<style>
	.cube-wrap {
		--faceSize: 100px;

		-webkit-perspective: calc(var(--faceSize) * 4);
		-webkit-perspective-origin: 50% calc(var(--faceSize) / 2);
		-moz-perspective: calc(var(--faceSize) * 4);
		-moz-perspective-origin: 50% calc(var(--faceSize) / 2);
		-ms-perspective: calc(var(--faceSize) * 4);
		-ms-perspective-origin: 50% calc(var(--faceSize) / 2);
		perspective: calc(var(--faceSize) * 4);
		perspective-origin: 50% calc(var(--faceSize) / 2);
	}

	.cube {
		position: relative;
		width: var(--faceSize);
		margin: 0 auto;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
		transform: rotate3d(1, 1, 1, 45deg);
	}

	.cube div {
		position: absolute;
		width: var(--faceSize);
		height: var(--faceSize);
		box-shadow: inset 0 0 10px #B2FF59;
	}

	.depth div.front-pane {
		-webkit-transform: translateZ(calc(var(--faceSize) / 2));
		-moz-transform: translateZ(calc(var(--faceSize) / 2));
		-ms-transform: translateZ(calc(var(--faceSize) / 2));
		transform: translateZ(calc(var(--faceSize) / 2));
	}

	.depth div.back-pane {
		-webkit-transform: translateZ(calc(var(--faceSize) / -2)) rotateY(180deg);
		-moz-transform: translateZ(calc(var(--faceSize) / -2)) rotateY(180deg);
		-ms-transform: translateZ(calc(var(--faceSize) / -2)) rotateY(180deg);
		transform: translateZ(calc(var(--faceSize) / -2)) rotateY(180deg);
	}

	.depth div.top-pane {
		-webkit-transform: rotateX(-90deg) translateY(calc(var(--faceSize) / -2));
		-webkit-transform-origin: top center;
		-moz-transform: rotateX(-90deg) translateY(calc(var(--faceSize) / -2));
		-moz-transform-origin: top center;
		-ms-transform: rotateX(-90deg) translateY(calc(var(--faceSize) / -2));
		-ms-transform-origin: top center;
		transform: rotateX(-90deg) translateY(calc(var(--faceSize) / -2));
		transform-origin: top center;
	}

	.depth div.bottom-pane {
		-webkit-transform: rotateX(90deg) translateY(calc(var(--faceSize) / 2));
		-webkit-transform-origin: bottom center;
		-moz-transform: rotateX(90deg) translateY(calc(var(--faceSize) / 2));
		-moz-transform-origin: bottom center;
		-ms-transform: rotateX(90deg) translateY(calc(var(--faceSize) / 2));
		-ms-transform-origin: bottom center;
		transform: rotateX(90deg) translateY(calc(var(--faceSize) / 2));
		transform-origin: bottom center;
	}

	.depth div.left-pane {
		-webkit-transform: rotateY(270deg) translateX(calc(var(--faceSize) / -2));
		-webkit-transform-origin: center left;
		-moz-transform: rotateY(270deg) translateX(calc(var(--faceSize) / -2));
		-moz-transform-origin: center left;
		-ms-transform: rotateY(270deg) translateX(calc(var(--faceSize) / -2));
		-ms-transform-origin: center left;
		transform: rotateY(270deg) translateX(calc(var(--faceSize) / -2));
		transform-origin: center left;
	}

	.depth div.right-pane {
		-webkit-transform: rotateY(-270deg) translateX(calc(var(--faceSize) / 2));
		-webkit-transform-origin: top right;
		-moz-transform: rotateY(-270deg) translateX(calc(var(--faceSize) / 2));
		-moz-transform-origin: top right;
		-ms-transform: rotateY(-270deg) translateX(calc(var(--faceSize) / 2));
		-ms-transform-origin: top right;
		transform: rotateY(-270deg) translateX(calc(var(--faceSize) / 2));
		transform-origin: top right;
	}
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300..900&display=swap" rel="stylesheet">
<link href="/assets/fonts/subtitle/stylesheet.css" rel="stylesheet">

<div id="wrapperElement">
	<div id="zyTrapezoid"></div>
	<img id="notchLogo" src="/assets/images/shabbat-abstract/zy-logo.png" />
	<img id="gne" src="/assets/images/shabbat-abstract/image02.png" />
	<span id="bsD">בס"ד</span>
	<!-- <img src="/assets/images/shabbat-abstract/shabbat-candles-rahimi.png" id="shabbatCandles" /> -->
	<img src="/assets/images/shabbat-abstract/bottom-wave.png" id="bottomWave" />
	<div id="gridElement"
        data-functions-backday-1="getCandleLighting"
        data-functions-backday-0="getTzaitShabbath getTzaitRT"
        data-flyerType="shabbat"
    >
        <div style="align-self: end; justify-self: center; color: white; font-size: 1.5vw;"></div>
        <div class="header tableShadow">Shabbat Starts<br><span style="font-weight: 400;">(Candle Lighting)</span></div>
        <div class="header tableShadow">Shabbat Ends</div>
        <div class="header tableShadow">Rabbenu Tam</div>
        {% for item in site.data.designLocationList.rahimi %}{% assign gridRow = forloop.index | plus: 1 %}
            <div class="shabbatRow tableShadow timecalc {% if item.twoLine %}twoLine{% endif %}"
                {% if item.elevation %}data-elevation="{{ item.elevation }}"{% endif %}
                data-lat="{{ item.lat }}" data-lng="{{ item.lng }}"
                data-timezone="{{ item.timezone }}"
                data-format="{{ item.timeFormat }}"
                {% if item.humra %}data-humra="{{ item.humra }}"{% endif %}
                {% if item.doubleLocation %}data-double-location{% endif %}
                style="grid-column: 1; grid-row: {{ gridRow }};">
                {%- assign check = item.flag | split:'.' | last -%}
                {% if check == "svg" %}
                    <img class="imgFlag" src="{{ item.flag }}">
                {% else %}
                    {{ item.flag }}
                {% endif %}
                {{ item.name }}
            </div>
            <div class="shabbatRow timeshow shabBorder" style="grid-column: 2; grid-row: {{ gridRow }};">Start Time</div>
            <div class="shabbatRow timeshow shabBorder" style="grid-column: 3; grid-row: {{ gridRow }};">End Time</div>
            <div class="shabbatRow timeshow shabBorder" style="grid-column: 4; grid-row: {{ gridRow }};">Machmir Time</div>
            <div class="shabbatRowBg tableShadow" style="grid-row: {{ gridRow }};"></div>
        {% endfor %}
    </div>
	<!-- <img src="/assets/images/shabbat-abstract/your logo here.png" id="templateAd"> -->
	<span id="zemanehShab">Shabbat<br>Zemanim</span>
	<div id="location">
		Looking for more times? Want to switch locations?<br>
		Use our <span style="text-transform: lowercase;">i</span>OS & Android apps, available on the respective stores

		<div id="appBar">
			<a href="https://apps.apple.com/app/rabbi-ovadiah-yosef-calendar/id6448838987" style="text-align: right;"><img src="/assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" loading="lazy"></a>
			<div><img src="/assets/images/app-icon-full.jpeg" style="border-radius: 1.5rem; width: 60%;"></div>
			<a href="https://play.google.com/store/apps/details?id=com.EJ.ROvadiahYosefCalendar" style="text-align: left;"><img src="/assets/images/google-play-store-8-1-73-apk.png" loading="lazy"></a>
		</div>
	</div>
	<span class="shabbatTitleCore">פרשת </span>
	<img id="prettyLDSurround" src="/assets/images/shabbat-abstract/pretty-LD-surround.png">
	<span id="lechaDodi" class="lechaDodi">לְכָה דוֹדִי</span>
	<span id="likratKalah" class="lechaDodi">לִקְרַאת כַּלָּה</span>
	<span id="pnehShabbathNekabelah" class="lechaDodi">פְּנֵי שַׁבָּת נְקַבְּלָה</span>
	<img id="rahimi" src="/assets/images/shabbat-abstract/r-rahimi-text.png" />
	<div id="bigTri" class="faderTri"></div>
	<div id="fullScrTri" class="faderTri"></div>
	<div id="advertFooter">
		<span style="font-weight: 800;">Sources for the times:</span><br><b style="font-weight: 700;">Yabia' Omer</b> 2:21 • royzmanim.com
	</div>
	<img src="/assets/images/MARAN.png" id="maran">
	<!-- <img src="/assets/images/shabbat-abstract/ryy-rdy-glima.png" id="ryy"> -->
	<div class="cube-wrap" style="right: 0; top: 60%;">
		<div class="cube depth">
			<div class="front-pane"></div>
			<div class="back-pane"></div>
			<div class="top-pane"></div>
			<div class="bottom-pane"></div>
			<div class="left-pane"></div>
			<div class="right-pane"></div>
		</div>
	</div>
	<div class="cube-wrap" style="left: 0; top: 80%;">
		<div class="cube depth">
			<div class="front-pane"></div>
			<div class="back-pane"></div>
			<div class="top-pane"></div>
			<div class="bottom-pane"></div>
			<div class="left-pane"></div>
			<div class="right-pane"></div>
		</div>
	</div>
</div>

<script type="module" src="/assets/js/flyers/multiZman.js"></script>