<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" id="meta-zoom" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">

		<title>{% if page.title and site.title != page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		<meta name="Description" content="The online calendar for all Zmanim and Davening according to Rabbi Ovadiah Yosef Zt'l for everywhere in the world." />
		<meta name="Keywords" content="Rabbi, Ovadia, Ovadiah, Yosef, Calendar, Zmanim, Daven, Davening" />
		<meta name="mobile-web-app-capable" content="yes" />

		<link rel="stylesheet" href="/assets/css/style.css" />
		{% if page.accordian %}<link rel="stylesheet" href="/assets/css/accordian.css" />{% endif %}
		<link href="/assets/libraries/css/mdb.min.css" rel="stylesheet" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
		<link href="ic_launcher-playstore.ico" rel="icon" type="image/x-icon" />
		<link href="banner.ico" rel="icon" type="image/x-icon" />
	</head>
	<body>
		<header id="hd" class="hdReg">
			<a class="logo" href="/">
				<img id="logo_dark" src="/assets/images/ro_flag.png" alt="Link to the Home Page"/>
				<img id="logo_light" src="/assets/images/ro_flag_light.png" alt="Link to the Home Page"/>
				Rabbi Ovadiah Yosef Calendar
			</a>

			<nav class="main-nav__nav">
				<ul class="main-nav__list">
					<li><a href="/moladCalculator" target="_blank">Molad Calculator</a></li>
					<li><a href="/settings.html">Settings</a></li>
					<li><a data-mdb-toggle="modal" data-mdb-target="#aboutModal">About</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			Download the app on Google Play now!<br />
			<a href="#" target="_blank">
				<img alt="Download on the App Store" src="/RabbiOvadiahYosefCalendar/app_store_coming_soon.png"/>
			</a>
			<a href="https://play.google.com/store/apps/details?id=com.EJ.ROvadiahYosefCalendar" target="_blank">
				<img alt="Get it on Google Play" src="/img/google_play.png"/>
			</a>
		</footer>
		<!-- Modal -->
		<div class="modal fade modal-xl" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="aboutModalLabel">About Modal</h5>
						<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">{% capture my_include %}{% include about.md %}{% endcapture %}
						{{ my_include | markdownify }}</div>
				</div>
			</div>
		</div>
		{% if page.accordian %}<script src="/assets/js/accordian.js"></script>{% endif %}
		<script type="text/javascript" src="/assets/libraries/js/mdb.min.js"></script>
	</body>
</html>