<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" id="meta-zoom" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">

		<title>{% if page.title and site.title != page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		<meta name="description" content="The online Zemanim (Halachic Times) calendar according to Rabbi Ovadiah Yosef Zt'l for everywhere in the world." />
		<meta name="keywords" content="Shema, Amidah, Hatzot, Midday, Plag, Mincha, Misheyakir, Alot Hashachar, Maran, Shulchan Aruch, Ben Ish Hai, Ohr Letzion, Rambam, Maimonides, Rabbi, Ovadia, Ovadiah, Yosef, Calendar, Zmanim, Daven, Davening, Zemaneh, Zemanim, זמנים, זמני, יוסף" />
		<meta name="mobile-web-app-capable" content="yes" />

		{% if page.accordian %}<link rel="stylesheet" href="/assets/css/accordian.css" />{% endif %}
		<link id="bs" href="/assets/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
		<link id="mdb" href="/assets/libraries/mdbootstrap/out.css" rel="stylesheet" crossorigin="anonymous"/>
		<link rel="stylesheet" href="/assets/libraries/forkAwesome/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/core.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/css/landing.css" />
		<link rel="stylesheet" href="/assets/css/dark.css" media="screen and (prefers-color-scheme: dark)">
		<link rel="stylesheet" media="print" href="/assets/css/print.css" />
		<link href="/favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="manifest" href="/manifest.json" />
	</head>
	<body>
		{% include modals/notSupported.html %}
		<script src="/assets/libraries/supValuesOf.js"></script>
		<script src="/assets/js/settings/docLoadBlock.js"></script>
        {{ content }}
		<div class="modal fade modal-xl" id="creditModal" tabindex="-1" aria-labelledby="creditModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="aboutModalLabel">Credits</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">{% capture my_include %}{% include credits.md %}{% endcapture %}
						{{ my_include | markdownify }}</div>
				</div>
			</div>
		</div>
		{% include modals/settings.html %}
		<script src="/assets/js/settings/docLoad.js" type="module"></script>
		<script src="/assets/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>