<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" id="meta-zoom" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">

		<title>{% if page.title and site.title != page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		<meta name="description" content="The online Zemanim (Halachic Times) calendar according to Rabbi Ovadiah Yosef Zt'l for everywhere in the world." />
		<meta name="keywords" content="Shema, Amidah, Hatzot, Midday, Plag, Mincha, Misheyakir, Alot Hashachar, Maran, Shulchan Aruch, Ben Ish Hai, Ohr Letzion, Rambam, Maimonides, Rabbi, Ovadia, Ovadiah, Yosef, Calendar, Zmanim, Daven, Davening, Zemaneh, Zemanim, זמנים, זמני, יוסף" />
		<meta name="mobile-web-app-capable" content="yes" />

		<link rel="stylesheet" href="/assets/css/core.css" />
		<link id="bsr" rel="stylesheet" href="/assets/libraries/bootstrap/css/bootstrap-reboot.min.css">
		<link href="/favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="manifest" href="/manifest.json" />
	</head>
	<body class="container-fluid">
		<div id="languageSelector"></div>
		<script src="/assets/libraries/supValuesOf.js"></script>
		<script src="/assets/js/settings/docLoadBlock.js"></script>
		{{ content }}
		<script src="/assets/js/settings/docLoad.js" type="module"></script>
		<script src="/assets/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>