@page {
    counter-reset: footnote 0;
}

@page {
    @footnote {
        border-top-style: dashed;
        border-top-width: 1px;
        border-top-color: black;
        padding-top: 6.25px;
        float: bottom;
    }
}
 
span.footnote { 
    float: footnote; 
    footnote-policy: block;
}
 
.footnote::footnote-call {
    content: counter(footnote, decimal) " ";
    vertical-align: super;
    font-size: smaller;
}
 
.footnote::footnote-marker {
    font-size: 1.3em;
    text-align: right;
}