---
title: Fast East Coast Times
permalink: /fast-design/east-tall
breakout: true
website: true
---

<style>
	#gne {
		border-radius: 50%;
		height: 170px;
		aspect-ratio: 1/1;
		justify-self: start;
		align-self: start;
		margin-top: 1rem;
		margin-left: 2.5rem;
		filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 1));
	}

	.maxWidthContainer {
		width: 90rem;
		font-family: 'Neutro';
		color: #30344F;
	}

	#sidebar, .navbar {
		display: none !important;
	}

	#wrapperElement {
		width: 100%;
		aspect-ratio: 1/1.5;

		position: relative;
		display: grid;

		background-image: linear-gradient(45deg, rgba(185, 181, 157, .8) 0%, rgba(97, 80, 64, .8) 100%), url("/assets/images/10-tevet.png");
		background-size: cover;

		overflow: hidden;
	}

	#zyTrapezoid {
		justify-self: center;
		align-self: start;
		width: 62.5%;
		border-top: 170px solid #12141e;
		border-left: 125px solid transparent;
		border-right: 125px solid transparent;
		height: 0;
	}

	#wrapperElement > *:not(.lechaDodi) {
		grid-area: 1/1;
	}

	.footerBold {
		font-weight: 700;
	}

	#maran {
		grid-area: 1/1;
		align-self: end;
		justify-self: end;
		transform: rotateY(180deg);
		width: 35%;
		z-index: 3;
	}

	.lechaDodi {
		position: absolute;
		transform: rotateZ(7deg);
		color: #F6E3A9;
		font-size: 3vw;
		text-align: center;
		font-family: 'Guttman Mantova';
		line-height: 1;
	}

	#lechaDodi {
		top: 24.5vw;
		right: 4vw;
	}

	#likratKalah {
		top: 27.375vw;
		right: 6.75vw;
	}

	#pnehShabbathNekabelah {
		top: 31.5vw;
		right: 2.5vw;
	}

	#zemanehShab {
		align-self: start;
		justify-self: start;
		/* font-family: "David"; */
		font-size: 9vw;
		font-weight: 700;
		/* font-style: italic; */
		color: transparent;
		background: linear-gradient(69deg, rgba(215, 185, 97, 1) 37%, rgba(242, 231, 167, 1) 50%, rgba(215, 185, 97, 1) 62%);
		-webkit-background-clip: text;
		line-height: .85;
		text-transform: uppercase;
		margin-top: 12vw;
		margin-left: 2.5vw;
		filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 1));
		text-align: center;
		width: 959px;
	}

	#gridElement {
		top: 35vw;
		grid-template-columns: 1fr .75fr .75fr;
		display: grid;
		left: 2.5vw;
		right: 2.5vw;
		position: absolute;
	}

	#shabbatCandles {
		align-self: end;
		width: 77.5%;
		right:0;
		margin-bottom: 10rem;
		z-index: 1;
		opacity: 50%;
	}

	#bottomWave {
		align-self: end;
		width: 100%;
		z-index: 2;
		transform: scale(1.25) rotateY(180deg);
	}

	.timeshow {
		text-align: center;
		z-index: 5;
	}

	.shabbatRow {
		margin-top: .3vw;
		margin-bottom: .3vw;
		padding-top: .5vw;
		padding-bottom: .5vw;
		font-size: 3vw;
		font-weight: 700;
	}

	.timecalc {
		background-color: #F1E79F;
		font-weight: 700;
		padding-left: 0.5vw;
		padding-right: 1vw;
		text-transform: uppercase;
		border-right: .25vw solid black;
		line-height: .6;
		padding-top: 1vw;
		font-size: 2.75vw;
	}

	.timecalc:not(.twoLine) {
		padding-top: 1.75vw;
	}

	.shabbatRowBg {
		background: linear-gradient(90deg, rgba(197,172,90,1) 0%, rgba(235,214,149,1) 100%);
		grid-column: 2 / span 3; 
		margin-top: .3vw;
		margin-bottom: .3vw;
		z-index: 2;
	}

	.header {
		padding: 0.5vw;
		background: #D9BB65;
		margin-left: .6vw;
		margin-right: .6vw;
		color: black;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.2;
		font-weight: 600;
		font-size: 1.8em;
	}

	.header .fa {
		float: left;
		height: 2em;
		width: 2em;
	}

	.tableShadow {
		box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.25);
		-webkit-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.25);
	}

	.shabBorder {
		border-right: .25vw solid black;
	}

	.sml {
		font-size: 15px;
	}

	#notchLogo {
		justify-self: center;
		align-self: start;
		width: 42.5%;
		margin-top: 1rem;
	}

	#prettyLDSurround {
		justify-self: end;
		align-self: start;
		margin-top: 12.5%;
		width: 27.5%;
	}

	#bsD {
		font-family: "Narkisim";
		justify-self: end;
		line-height: 1;
		padding-right: 4.5rem;
		color: #FFF2B3;
		font-size: 6rem;
		padding-top: 3rem;
		align-self: start;
	}

	#location, #calSubtitle, #tekufa {
		align-self: start;
		justify-self: start;
		font-family: 'Barlow', 'FrankRuehl';
		font-weight: 700;
		color: white;
		text-transform: uppercase;
		width: 959px;
		text-align: center;
		margin-left: 2.5vw;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,1));
		line-height: 1;
	}

	#location {
		margin-top: 12vw;
		font-size: 4vw;
	}

	#calSubtitle {
		margin-top: 20vw;
		font-size: 3vw;
	}

	#tekufa {
		margin-top: 25vw;
		font-size: 4vw;
	}

	#templateAd {
		align-self: center;
		justify-self: start;
		border-radius: 50%;
		margin-top: 75%;
		margin-left: 5%;
		width: 25%;
		z-index: 10;
	}

	#advertFooter {
		justify-self: start;
		margin-bottom: 1rem;
		padding-left: 1rem;
		font-size: 1.7rem;
		font-weight: 600;
		line-height: 1.1;
		z-index: 3;
		align-self: end;
	}

	#sourcesFooter {
		font-size: 1.5em;
	}
	#sourcesFooter ul {
		line-height: 1.25;
		margin-bottom: 0;
	}

	#credits {
		font-size: 2.125em;
		text-align: right;
		line-height: 1.25;
		font-weight: 600;
		text-transform: uppercase;
		font-style: italic;
	}

	#money {
		color: #e2dfc6;
		width: 225px;
		position: absolute;
		right: 4.75vw;
		top: 12.5vw;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,.5));
	}

	#betterToGiveTzedakah {
		color: #e2dfc6;
		width: 375px;
		position: absolute;
		right: 1vw;
		top: 28vw;
		filter: drop-shadow(0px 5px 4px rgba(0,0,0,.5));
		text-align: center;
		font-size: 2.5em;
		font-family: 'Guttman Mantova';
		unicode-bidi: plaintext;
		line-height: 1;
	}

	#fastHalachas {
		position: absolute;
		left: 2.5vw;
		top: 75.5vw;
		width: 900px;
		background-color: rgba(0, 0, 0, .75);
		padding: 1.25rem;
		border-radius: 2rem;
		color: white;
	}

	#fastHalachas p {
		font-size: 1.35em;
	}
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300..900&display=swap" rel="stylesheet">
<link href="/assets/fonts/subtitle/stylesheet.css" rel="stylesheet">

<div id="wrapperElement">
	<div id="zyTrapezoid"></div>
	<img id="notchLogo" src="/assets/images/shabbat-abstract/zy-logo.png" />
	<img id="gne" src="/assets/images/shabbat-abstract/east.svg" />
	<span id="bsD">בס"ד</span>
	<img src="/assets/images/shabbat-abstract/bottom-wave.png" id="bottomWave" />
	<div id="gridElement"
		data-functions-backday-0="getAlotHashachar getTzaitLechumra"
		data-extra-locales="en"
		data-flyerType="fast"
	>
		<div style="align-self: end; justify-self: center; color: white; font-size: 1.5vw;"></div>
		<div class="header tableShadow">Fast Starts<br><span style="font-weight: 400;">(Halachic Dawn)</span></div>
		<div class="header tableShadow">Fast Ends<br><span style="font-weight: 400;">(Halachic Nightfall)</span></div>
		{% for item in site.data.designLocationList.east %}{% assign gridRow = forloop.index | plus: 1 %}
			<div class="shabbatRow tableShadow timecalc {% if item.twoLine %}twoLine{% endif %}"
				{% if item.elevation %}data-elevation="{{ item.elevation }}"{% endif %}
				data-lat="{{ item.lat }}" data-lng="{{ item.lng }}"
				data-timezone="{{ item.timezone }}"
				data-format="{{ item.timeFormat }}"
				{% if item.humra %}data-humra="{{ item.humra }}"{% endif %}
				{% if item.doubleLocation %}data-double-location{% endif %}
				style="grid-column: 1; grid-row: {{ gridRow }};">
				{%- assign check = item.flag | split:'.' | last -%}
				{% if check == "svg" %}
					<img class="imgFlag" src="{{ item.flag }}">
				{% else %}
					{{ item.flag }}
				{% endif %}
				{{ item.name }}
			</div>
			<div class="shabbatRow timeshow shabBorder" style="grid-column: 2; grid-row: {{ gridRow }};">Start Time</div>
			<div class="shabbatRow timeshow shabBorder" style="grid-column: 3; grid-row: {{ gridRow }};">End Time</div>
			<div class="shabbatRowBg tableShadow" style="grid-row: {{ gridRow }};"></div>
		{% endfor %}
	</div>
	<!-- <img src="/assets/images/shabbat-abstract/your logo here.png" id="templateAd"> -->
	<span id="zemanehShab" class="shabbatTitleCore"></span>
	<!--<div id="location">Central North America</div> -->
	<span id="calSubtitle"></span>
	<!-- <img id="prettyLDSurround" src="/assets/images/shabbat-abstract/pretty-LD-surround.png">
	<span id="lechaDodi" class="lechaDodi">לְכָה דוֹדִי</span>
	<span id="likratKalah" class="lechaDodi">לִקְרַאת כַּלָּה</span>
	<span id="pnehShabbathNekabelah" class="lechaDodi">פְּנֵי שַׁבָּת נְקַבְּלָה</span> -->
	<div id="betterToGiveTzedakah">אגרא דתעניתא צדקתא<br>(ברכות ו:)</div>
	<img src="/assets/images/shabbat-abstract/money-svgrepo-com.svg" id="money" />
	<div id="fastHalachas">
		<h1 style="text-align: center;">Calculation Explanation</h1>
		<p><b>Halachic Dawn</b> (which is when fasts start; S"A Orach Chaim 562) is measured as 72 seasonal minutes before sunrise (Halikhot Olam Vol. I pg. 106). Locations further north or south of Israel will need to factor standard deviation, turning the time pre-seasonal factoring to 80 minutes in NY (Halacha Berurah, intro. to Chapter 261, Halacha 13)</p>
		<p>For the context of fasts, <b>Halachic Nightfall</b> is calculated as 20 seasonal minutes (with standard-deviation accounted for) after sunset. Although one can rely on the letter of the law that uses 13.5 minutes instead (Yabia Omer YD 7:41), the recommended (albeit not strictly necessary) practice is to be stringent and hold by 20 minutes to accommodate the Rambam's opinion on nightfall (Ḥazon Ovadia, Arba Ta'aniyot, pg. 12). One need not wait any longer than this time for any fast (with the exception of Yom Kippur), even in the USA.</p>
		<hr>
		<p>Independent of the fast day is the quarter-yearly Tekufa-fast, which happens at the beginning of every Halachic season. According to Maran zt"l (Halikhot Olam Vol. VII pg. 183, based on נהר מצרים, דף עז ע”ב), we have a time-buffer of an hour around the time of the Tekufa itself, by adding 30 minutes prior and following. During this time, one should abstain from plain water (with other beverages being permitted) due to a concern for spiritual danger.</p>
	</div>
	<div id="tekufa">+ Tekufat Tishri: 8:09-9:09 ET</div>
	<div id="advertFooter">
		<span style="font-weight: 700; font-size: 1.15em; text-transform: uppercase;">
			Halachic Fast Times according to<br><span style="font-weight: 800;">Rav Ovadia Yosef zt"l</span>
		</span><br>
		Looking for more times? Want to switch locations?<br>
		Use our <span style="text-transform: lowercase;">i</span>OS & Android apps,
		or visit our website • royzmanim.com
	</div>
	<img src="/assets/images/MARAN.png" id="maran">
</div>

<script type="module" src="/assets/js/flyers/multiZman.js"></script>